@charset "UTF-8";

/*Latests*/
.latests{
    border-bottom: solid 1px #e3eaf2;
    margin-bottom: 40px;
    padding-bottom: 30px;
}
.latests h2{
    color: #3b579d;
    text-transform: uppercase;
    font: normal 30px 'Dosis', Arial, sans-serif;
    margin-bottom: 25px;
}
.latests li{
    /*width: 48%;
    margin-right: 2%;
    float: left;*/
    position: relative;
}
#main-content li a{
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
#main-content li a:hover{
    text-decoration: none;
    opacity: 0.7;
}
.latests li time{
    position: absolute;
    left: 10px;
    top: 0;
    padding: 3px 7px;
    color: white;
    font: normal 12.5px Arial, sans-serif;
}
.latests li img{
    margin-bottom: 15px;
}
.latests li blockquote{
    padding: 0;
    border: none;
    font: 700 18px 'Dosis', Arial, sans-serif;
}
.latests li.noticias-post time{
    background: #2eada7;
}
.latests li.noticias-post blockquote{
    color: #2eada7;
}
.latests li.singularidades-post time{
    background: #3b579d;
}
.latests li.singularidades-post blockquote{
    color: #3b579d;
}
.latests li.artigos-post time{
    background: #b8a898;
}
.latests li.artigos-post blockquote{
    color: #b8a898;
}
.latests li.vagas-post time{
    background: #e1ac37;
}
.latests li.vagas-post blockquote{
    color: #e1ac37;
}

/*Other Posts*/
.others-posts li{
    border-bottom: solid 1px #e3eaf2;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.others-posts time{
    float: left;
    margin-right: 2%;
    display: table;
    background: #b8a898;
    width: 10%;
}
.others-posts time .relative{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font: normal 13px Arial, sans-serif;
    width: 100%;
    height: 67px;
}
.others-posts time .relative span{
    display: block;
    margin-bottom: 3px;
    font: normal 30px 'Dosis', Arial, sans-serif;
}
.others-posts .other-post-title{
    float: left;
    width: 88%;
    display: table;
    margin-bottom: 20px;
}
.others-posts .other-post-title h2{
    text-transform: uppercase;
    font: 700 24px 'Dosis', Arial, sans-serif;
    margin-bottom: 25px;
    display: table-cell;
    vertical-align: middle;
    height: 67px;
}
.others-posts img{
    float: left;
    max-width: 50%;
    margin-right: 2%;
}
.others-posts blockquote{
    padding: 0;
    border: none;
    font: normal 15px Arial, sans-serif; 
    color: #707070;
}


.others-posts li.noticias-post time{
    background: #2eada7;
}
.others-posts li.noticias-post h2{
    color: #2eada7;
}
.others-posts li.singularidades-post time{
    background: #3b579d;
}
.others-posts li.singularidades-post h2{
    color: #3b579d;
}
.others-posts li.artigos-post time{
    background: #b8a898;
}
.others-posts li.artigos-post h2{
    color: #b8a898;
}
.others-posts li.vagas-post time{
    background: #e1ac37;
}
.others-posts li.vagas-post h2{
    color: #e1ac37;
}

a.main-more-info{
    color: #3b579d;
    text-transform: uppercase;
    font: normal 30px 'Dosis', Arial, sans-serif; 
    margin: 0 0 50px auto;
    display: table;
}