@charset "UTF-8";

/*Font*/
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.eot');
    src: url('../fonts/Dosis-Regular?#iefix') format('embedded-opentype'),
        url('../fonts/Dosis-Regular.svg#Dosis') format('svg'),
        url('../fonts/Dosis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Bold.eot');
    src: url('../fonts/Dosis-Bold?#iefix') format('embedded-opentype'),
        url('../fonts/Dosis-Bold.svg#Dosis') format('svg'),
        url('../fonts/Dosis-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}
body, html{
    width: 100%;
    min-height: 100%;
}
ul{
    margin: 0 !important;
}
img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}
a{
    display: block;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.link-padding{
    position: relative;
    overflow: hidden;
    height: 0;
}
.clear{
    clear: both;
}
.animate{
-webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.container{
    position: relative;
}
/*End of Reset Css*/

/*Header*/
header{
    background: url(../images/bg-header.png) repeat;
    margin-bottom: 60px;
}
header .social-header{
    position: absolute;
    right: 15px;
    background: white;
    padding: 5px;
    z-index: 3;
}
header .social-header li{
    display: inline-block;
}
header .social-header li a{
    background: url(../images/social-header.png) no-repeat;
    width: 27px;
    padding-top: 27px;
}
header .social-header li a.twitter{
    background-position: -30px 0;
}
header .social-header li a.linkedin{
    background-position: -60px 0;
}
header .social-header li a.flickr{
    background-position: -90px 0;
}
header .social-header li a.youtube{
    background-position: -120px 0;
}
header .social-header li a.rss{
    background-position: -150px 0;
}
header a#main-logo{
    background: white url(../images/singularidades-blog-logo.png) no-repeat left center;
    width: 295px;
    padding-top: 157px;
    float: left;
}
header #main-menu{
    float: right;
    margin: 0 0 -30px -40px !important;
    padding-top: 50px;
    position: relative;
    z-index: 2;
}
header #main-menu li{
    display: table;
    float: left;
    margin-left: 20px;
}
header #main-menu li:first-child{
    margin-left: 0;
}
header #main-menu li a{
    width: 150px;
    height: 137px;
    display: table-cell;
    vertical-align: middle;
    font: 700 18px 'Dosis', Arial, sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
header #main-menu li a:hover{
    opacity: 0.8;
    text-decoration: none;
}
header #main-menu li a.noticias{
    background: url(../images/noticias-main-menu.jpg) no-repeat center;
}
header #main-menu li a.singularidades{
    background: url(../images/singularidades-main-menu.jpg) no-repeat center;
}
header #main-menu li a.artigos{
    background: url(../images/artigos-main-menu.jpg) no-repeat center;
}
header #main-menu li a.vagas{
    background: url(../images/vagas-main-menu.jpg) no-repeat center;
}

/*Aside*/
aside{
    border-left: solid 1px #e6ecf4;
    padding: 0 0 0 25px !important;
}
aside .search{
    background: #ced5cd;
    box-shadow: inset #c3c8c1 2px 2px 3px;
    padding: 0 4%;
    margin-bottom: 40px;
}
aside .search input{
    background: transparent;
    height: 40px;
    width: 80%;    
    color: white;
    font: normal 24px 'Dosis', Arial, sans-serif;
    outline: none;
    display: inline-block;
}
aside .search ::-webkit-input-placeholder {
    color: white;
    font: normal 24px 'Dosis', Arial, sans-serif;
}

aside .search :-moz-placeholder {
    color: white;
    font: normal 24px 'Dosis', Arial, sans-serif;
}

aside .search ::-moz-placeholder {
    color: white;
    font: normal 24px 'Dosis', Arial, sans-serif;
}

aside .search :-ms-input-placeholder {  
    color: white;
    font: normal 24px 'Dosis', Arial, sans-serif;
}
aside .search button{
    display: block;
    float: right;
    background: url(../images/bg-busca.png) no-repeat center;
    width: 25px;
    padding-top: 40px;
}

/*Titles - Aside*/
aside .titles{
    margin-bottom: 20px;
}
aside .titles h3{
    font: normal 24px 'Dosis', Arial, sans-serif;
    display: table;
    margin: 0 15px;
    text-transform: uppercase;
    padding: 7px 15px;
    background: white;
}

/*Vagas*/
aside .vagas{
    margin-bottom: 40px;
}
aside .vagas .titles{
    background: #f0d59b;
}
aside .vagas .titles h3{
    color: #eac573;
}
aside .vagas li{
    border-bottom: solid 1px #f0d59b;
    background: url(../images/home/bg-vagas-li.png) no-repeat right center;
    padding: 10px
}
aside .vagas li *:hover{
    color: #eac573;
    text-decoration: none;
}
aside .vagas li a strong{
    font: 700 18px 'Dosis', Arial, sans-serif;
    color: #959595;
    display: block;
}
aside .vagas li a span{
    font: normal 16px 'Dosis', Arial, sans-serif;
    color: #959595;
}
aside .vagas a.acessar-todas-vagas{
    font: normal 24px 'Dosis', Arial, sans-serif;
    color: #e1ac37;
    display: table;
    margin: 0 0 0 auto;
}

/*Newsletter*/
aside .news{
    border-bottom: solid 1px #96d6d3;
    padding-bottom: 15px;
    margin-bottom: 35px;
}
aside .news{
    border-bottom: solid 1px #96d6d3;
    padding-bottom: 15px;
    margin-bottom: 35px;
}
aside .news .titles{
    background: #96d6d3;
}
aside .news .titles h3{
    color: #96d6d3;
}
aside .news input{
    color: #959595;
    border: solid 1px #959595;
    width: 68.2%;
    padding: 0 2%;
    height: 30px;
    font: normal 16px 'Dosis', Arial, sans-serif;
    margin: 0 4%;
}
aside .news button{
    color: white;
    border: none;
    text-align: center;
    width: 22%;
    height: 30px;
    font: 700 16px 'Dosis', Arial, sans-serif;
    text-shadow: #209791 -1px -1px 2px;
    background: #39c1bd;
    background: -moz-linear-gradient(top,  #39c1bd 0%, #20948c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39c1bd), color-stop(100%,#20948c));
    background: -webkit-linear-gradient(top,  #39c1bd 0%,#20948c 100%);
    background: -o-linear-gradient(top,  #39c1bd 0%,#20948c 100%);
    background: -ms-linear-gradient(top,  #39c1bd 0%,#20948c 100%);
    background: linear-gradient(to bottom,  #39c1bd 0%,#20948c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39c1bd', endColorstr='#20948c',GradientType=0 );
}
aside .news button:hover{
    background: #39c1bd;
}

/*Educação na Web*/
aside .educacao-web, aside .facebook-sidebar{
    margin-bottom: 40px;
}
aside .educacao-web .titles, aside .facebook-sidebar .titles{
    background: #a2bbd6;
}
aside .educacao-web .titles h3, aside .facebook-sidebar .titles h3{
    color: #a2bbd6;
}
aside .educacao-web li{
    border-bottom: solid 1px #d0ddea;
    padding: 20px 13px; 
}
aside .educacao-web li a{
    padding-left: 30px; 
}
aside .educacao-web li.uol a{
    background: url(../images/home/uol-educacao.png) no-repeat left 2px; 
}
aside .educacao-web li.estadao a{
    background: url(../images/home/estadao.png) no-repeat left 2px; 
}
aside .educacao-web li.terra a{
    background: url(../images/home/terra.png) no-repeat left 2px; 
}
aside .educacao-web li.universia a{
    background: url(../images/home/universia.png) no-repeat left 2px; 
}
aside .educacao-web li a i{
    font: italic normal 14px 'Dosis', Arial, sans-serif;
    color: #515151;
    margin-bottom: 5px;
}
aside .educacao-web li a p{
    font: normal 18px 'Dosis', Arial, sans-serif;
    color: #959595;
}
aside .educacao-web li a:hover{
    text-decoration: none;
}
aside .educacao-web li a:hover p, aside .educacao-web li a:hover i{
    color: #a2bbd6; 
}
aside .educacao-web a.load-more-education{
    font: normal 24px 'Dosis', Arial, sans-serif; 
    color: #a2bbd6;
    margin: 20px 0 0 auto;
    display: table;
}

/*Footer*/
footer{
    background: #eaf0f6;
    padding: 20px 0;
}

/*Social*/
footer .social{
    float: left;
}
footer .social li{
    display: inline-block;
}
footer .social li a{
    background: url(../images/social-links.png) no-repeat;
    width: 50px;
    padding-top: 50px;
}
footer .social li a.twitter{
    background-position: -60px 0;
}
footer .social li a.linkedin{
    background-position: -120px 0;
}
footer .social li a.youtube{
    background-position: -180px 0;
}
footer .social li a.flickr{
    background-position: -240px 0;
}
footer .social li a.feeds{
    background-position: -300px 0;
}

/*Links*/
footer .links{
    float: right;
    display: table;
    margin-bottom: 30px;
}
footer .links ul{
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}
footer .links li{
    display: inline-block;
}
footer .links li a{ 
    text-transform: uppercase;
    font: normal 15px 'Dosis', Arial, sans-serif;
    color: #696969;
}
footer .links li a:hover{ 
    text-decoration: none;
    color: #1a365f;
}
footer .links li a:before{ 
    content: ">";
    font: normal 20px 'Dosis', Arial, sans-serif;
    margin: 0 10px;
}

footer .address{ 
    float: left;
    display: table;
}
footer address{ 
    display: table-cell;
    vertical-align: middle;
    height: 45px;
    color: #898989;
    font: normal 15px Arial, sans-serif;
}
footer .mail-tel{
    float: right;
    text-align: right;
}
footer .mail-tel .mail-footer{
    font: normal 14px Arial, sans-serif; 
    color: #898989;
}
footer .mail-tel .tel-footer{
    font: bold 17px Arial, sans-serif; 
    color: #898989;
}
/*End of Footer*/
