@charset "UTF-8";

#content li{
    background: url(../images/home/bg-li.png) repeat-x;
    padding: 0 20px;
    -webkit-box-shadow: inset 0px 41px 20px -39px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    inset 0px 41px 20px -39px rgba(50, 50, 50, 0.25);
    box-shadow:         inset 0px 41px 20px -39px rgba(50, 50, 50, 0.25);
}
#content li a{
    text-transform: uppercase;
    color: #333132;
    font: normal 16px Arial, sans-serif;
    text-shadow: #f2f2f2 1px 1px 0;
    padding: 31px 0 30px 60px;
}
#content li a.zero{
    background: url(../images/home/veiculos-0km.png) no-repeat left center, url(../images/home/arrow-li.png) no-repeat right center;
}
#content li a.seminovos{
    background: url(../images/home/veiculos-seminovos.png) no-repeat left center, url(../images/home/arrow-li.png) no-repeat right center;
}
#content li a.loja{
    background: url(../images/home/localizar-loja.png) no-repeat left center, url(../images/home/arrow-li.png) no-repeat right center;
}
#content li a.oficina{
    background: url(../images/home/servicos-de-oficina.png) no-repeat left center, url(../images/home/arrow-li.png) no-repeat right center;
}

/*Only for Retina Display*/
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   -moz-min-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        
        #content li a.zero{
            background: url(../images/home/veiculos-0km@2x.png) no-repeat left center, url(../images/home/arrow-li@2x.png) no-repeat right center;
            background-size: 43px 23px, 10px 17px;
        }
        #content li a.seminovos{
            background: url(../images/home/veiculos-seminovos@2x.png) no-repeat left center, url(../images/home/arrow-li@2x.png) no-repeat right center;
            background-size: 37px 32px, 10px 17px;
        }
        #content li a.loja{
            background: url(../images/home/localizar-loja@2x.png) no-repeat left center, url(../images/home/arrow-li@2x.png) no-repeat right center;
            background-size: 25px 28px, 10px 17px;
        }
        #content li a.oficina{
            background: url(../images/home/servicos-de-oficina@2x.png) no-repeat left center, url(../images/home/arrow-li@2x.png) no-repeat right center;
            background-size: 29px 31px, 10px 17px;
        }
    }