@charset "UTF-8";
/*Header*/
#header{
    border-bottom: solid 2px #a7a9ac;
}

/*Title*/
.title{
    border-top: solid 1px #cfcfcf;
    border-bottom: solid 1px #f8f8f8;
    background: #fdb414 url(../images/busca-zero-renault/renault-logo.jpg) no-repeat right center;
    padding: 0 20px;
    -webkit-box-shadow: inset 0px 41px 20px -39px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    inset 0px 41px 20px -39px rgba(50, 50, 50, 0.25);
    box-shadow:         inset 0px 41px 20px -39px rgba(50, 50, 50, 0.25);
}
.title h1{
    text-transform: uppercase;
    color: #231f20;
    font: normal 16px Arial, sans-serif;
    padding: 21px 0 20px 51px;
    background: url(../images/servicos-de-oficina-renault/icon.png) no-repeat left center;
}

/*Content*/
#content li{
    padding: 15px;
    background: #dadada;
    background: -moz-linear-gradient(top,  #dadada 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dadada), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #dadada 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #dadada 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #dadada 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #dadada 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#ffffff',GradientType=0 );
}
#content li .address{
    float: left;
    width: 70%;
}
#content li .address *{
    color: #5e5d5e;
    font-size: 14px;
    display: block;
    text-shadow: white 1px 1px 0;
    line-height: 1.3em;
    font-style: normal;
}
#content li .address h2, #content li .address span{
    font-weight: bold;
}
#content li .view-map{
    float: right;
    text-align: center;
    width: 25%;
}
#content li .view-map img{
    display: inline;
}
#content li .view-map span{
    color: #231f20;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}

/*Footer*/
#footer li a.email-footer{
    background: url(../images/busca-zero-renault/informacoes-por-email.png) no-repeat left center;
}
#footer li a.ligamos-footer{
    background: url(../images/busca-zero-renault/ligamos-para-voce.png) no-repeat left center;
}

/*Only for Retina Display*/
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   -moz-min-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        
        .title{
            background: #fdb414 url(../images/busca-zero-renault/renault-logo@2x.jpg) no-repeat right center;
            background-size: 42px 39px;
        }
        .title h1{
            background: url(../images/servicos-de-oficina-renault/icon@2x.png) no-repeat left center;
            background-size: 24px 26px;
        }
        #footer li a.email-footer{
            background: url(../images/busca-zero-renault/informacoes-por-email@2x.png) no-repeat left center;
            background-size: 32px 21px;
        }
        #footer li a.ligamos-footer{
            background: url(../images/busca-zero-renault/ligamos-para-voce@2x.png) no-repeat left center;
            background-size: 18px 29px;
        }
}