@charset "UTF-8";

@font-face {
    font-family: 'lcd';
    src: url('../fonts/lcd-bold.eot');
    src: url('../fonts/lcd-bold?#iefix') format('embedded-opentype'),
        url('../fonts/lcd-bold.svg#lcd') format('svg'),
        url('../fonts/lcd-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CartoGothicStd';
    src: url('../fonts/CartoGothicStd-Book.svg#lcd') format('svg'),
         url('../fonts/CartoGothicStd-Book.svg') format('svg'),
         url('../fonts/CartoGothicStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}
body, html{
    min-height: 100%;
    min-width: 960px;
}
img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}
a{
    display: block;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.link-padding{
    position: relative;
    overflow: hidden;
    height: 0;
}
.clear{
    clear: both;
}
.animate{
-webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.content-center{
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-icons{
    background-image: url(../images/icons.png);
}
/*End of Reset Css*/

/*Header*/
#header{
    position: relative;
}
#header #slider a{
    height: 653px;
}
#header #slider .item1{
    background: url(../images/header-01.jpg) no-repeat center;
}
#header h1{
    background: url(../images/feirao-chave-na-mao-grupo-renauto.png) no-repeat center;
    width: 485px;
    padding-top: 390px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -500px;
}
#header .bx-controls{
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: 345px;
}
#header .bx-controls .bx-pager-item{
    display: inline-block;
}
#header .bx-controls .bx-pager-item a{
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    width: 24px;
    padding-top: 24px;
    background: url(../images/slider-controls.png);
}
#header .bx-controls .bx-pager-item a.active{
    background: url(../images/slider-controls-active.png);
}
#header .timer{
    position: absolute;
    top: 465px;
    left: 50%;
    margin-left: -460px;
    text-align: center;
}
#header .timer h2{
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #363636;
    font: bold 17px 'Arial Black', Arial, sans-serif;
    text-shadow: #ededed 0 -1px 2px;
}
#header #countdown{
    border-radius: 10px;
    padding: 22px 15px 19px 15px;
    background: #2c2c2c;
    background: -moz-linear-gradient(top,  #2c2c2c 0%, #060606 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2c2c), color-stop(100%,#060606));
    background: -webkit-linear-gradient(top,  #2c2c2c 0%,#060606 100%);
    background: -o-linear-gradient(top,  #2c2c2c 0%,#060606 100%);
    background: -ms-linear-gradient(top,  #2c2c2c 0%,#060606 100%);
    background: linear-gradient(to bottom,  #2c2c2c 0%,#060606 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#060606',GradientType=0 );
}
#header #countdown, #header #countdown *{
    font: normal 44px 'lcd', Arial, sans-serif;
    color: #c1c1c1;
    text-shadow: #0a0a0a 0 0 3px;
}
#header #countdown .dias{
    font-size: 25px;
}

#menu2{
    background-color: #eeeeee;
    border-bottom: 3px;
    z-index: 2;
    border-bottom: 3px solid #a7a9ac;
    -webkit-box-shadow: 0 8px 20px -10px black;
       -moz-box-shadow: 0 8px 20px -10px black;
            box-shadow: 0 8px 20px -10px black;
}
#menu2 h2{
    float: left;
    padding: 0 24px;
    border-right: solid 1px #fbfbfb;
}
#menu2 h2 a{
    width: 153px;
    background-position: 0 -175px;
}
#menu2 li{
    float: left;
    border-right: solid 1px #fbfbfb;
    border-left: solid 1px #d9d8d9;
    padding: 0 15px
    
}
#menu2 li:hover{
    background-color: #d1d1d1;
}
#menu2 li:last-child{
    border-right: none;
}
#menu2 a{
    height: 86px;
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #231f20;
    line-height: 1.3em;
    padding-left: 43px;
}
#menu2 a:hover{
    text-decoration: none;
}
#menu2 a span{
    font-size: 15px;
    display: block;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}
#menu2 a.item1{
    background-position: 0 -268px;
}
#menu2 a.item2{
    background-position: 0 -371px;
    padding-left: 25px
}
#menu2 a.item3{
    background-position: 0 -473px;
}
#menu2 a.item4{
    background-position: 0 -575px;
}

/*Confira ofertas*/
#confira-ofertas{
    padding: 25px 0;
    -webkit-box-shadow: 0 0 7px #bcbec0;
    box-shadow: 0 0 7px #bcbec0;
    background: #fafafa;
    background: -moz-linear-gradient(top,  #fafafa 0%, #d9d9d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#d9d9d9));
    background: -webkit-linear-gradient(top,  #fafafa 0%,#d9d9d9 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#d9d9d9 100%);
    background: -ms-linear-gradient(top,  #fafafa 0%,#d9d9d9 100%);
    background: linear-gradient(to bottom,  #fafafa 0%,#d9d9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d9d9d9',GradientType=0 );
}
#confira-ofertas span.confira{
    text-transform: uppercase;
    font: normal 20px Arial, sans-serif;
    float: left;
    margin: 13px 40px 0 0;
    color: #363636;
    text-shadow: #f8f8f8 0 1px 2px;
}
#confira-ofertas span.confira strong{
    display: block;
    font-size: 24.5px;
}
#confira-ofertas .links-marcas{
    float: left;
}
#confira-ofertas .links-marcas li{
    display: inline-block;
}
#confira-ofertas .car-slider{
    float: right;
    padding: 0 40px;
    position: relative;
}
#confira-ofertas .car-slider li{
    text-align: center;
}
#confira-ofertas .bx-controls a{
    position: absolute;
    top: 50%;
    width: 33px;
    padding-top: 33px;
    overflow: hidden;
    height: 0;
    margin-top: -20px;
}
#confira-ofertas .bx-controls a.bx-prev{
    background: url(../images/prev.png);
    left: 0;
}
#confira-ofertas .bx-controls a.bx-next{
    background: url(../images/next.png);
    right: 0;
}
#confira-ofertas span{
    color: #333132;
    font: normal 11px Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
}
#confira-ofertas #car-select a{
    color: #333132;
    font: normal 11px Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
}
#confira-ofertas #car-select a img{
    margin: 0 auto;
}

/*Itens*/
#itens{
    padding: 40px 0;
    background: url(../images/bg-content.jpg) repeat;
}
#itens li.item{
    float: left;
    width: 50%;
    min-height: 470px;
}
#itens li.item .name-price{
    background: url(../images/bg-box.png) no-repeat;
    width: 272px;
    height: 256px;
    float: left;
}
#itens li.item .name-price .box-padding{
    padding: 56px 5px 0 79px;
}
#itens li.item .name-price h3{
    font: bold 17px/1em 'Arial Black', Arial, sans-serif;
    text-transform: uppercase;
    color: black;
}
#itens li.item .name-price span.specs{
    font: bold 11px/1em Arial, sans-serif;
    text-transform: uppercase;
    color: black;
    display: block;
}
#itens li.item .name-price span.entrada{
    font: bold 12px/1em 'Arial Black', Arial, sans-serif;
    text-transform: uppercase;
    color: black;
    display: block;
    margin: 10px 0 -11px 0;
}
#itens li.item .name-price span.x{
    font: bold 21px/1em Arial, sans-serif;
    float: left;
    padding: 10px 2px;
    margin-top: 14px;
}
#itens li.item.renault .name-price span.x, #itens li.item.renault .name-price span.sem-juros{
    background: #ffb51e;
    color: black;
}
#itens li.item.nissan .name-price span.x, #itens li.item.nissan .name-price span.sem-juros{
    background: #cc1c22;
    color: white;
}
#itens li.item .name-price .value{
    float: right;
    width: 142px;
}
#itens li.item .name-price span.the-value{
    font: normal 20px/1em 'Arial Black', Arial, sans-serif;
    color: black;
    letter-spacing: -1px;
}
#itens li.item .name-price span.the-value strong{
    font: normal 36px/1em 'Arial Black', Arial, sans-serif;
}
#itens li.item .name-price span.sem-juros{
    font: normal 12px/1em 'Arial Black', Arial, sans-serif;
    text-transform: uppercase;
    display: table;
    width: 125px;
    text-align: center;
    padding: 2px 0;
}
#itens li.item .name-price small{
    font: normal 8px/1em Arial, sans-serif;
    display: block;
    text-align: center;
    margin-top: 3px;
}

#itens li.item .caracteristicas{
    float: right;
    margin-top: 60px;
    width: 190px;
}
#itens li.item .caracteristicas h4{
    text-transform: uppercase;
    margin-bottom: 10px;
    font: bold 17px/1em Arial, sans-serif;
    color: #555;
}
#itens li.item .caracteristicas ul{
    margin-bottom: 15px;
}
#itens li.item .caracteristicas li{
    text-transform: uppercase;
    font: normal 11px/1.3em Arial, sans-serif;
    color: #555;
    list-style-type: disc;
    list-style-position: inside;
}
#itens li.item .caracteristicas a.saiba-mais{
    background: url(../images/saiba-mais.png);
    width: 120px;
    padding-top: 31px;
}
#itens li.item img{
    position: relative;
    top: -50px;
    margin: 0 auto;
}

/*Condições Gerais*/
#condicoes-gerais{
    padding: 50px 0;
}
#condicoes-gerais h4{
    font: bold 14px Arial, sans-serif;
    color: #333;
    margin-bottom: 15px;
}
#condicoes-gerais p{
    font: normal 9px Arial, sans-serif;
    color: #333;
    margin-bottom: 5px;
}

/*Footer*/
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#footer .content-center{
    background: url(../images/bg-footer.png) no-repeat center;
    padding-top: 37px;
    height: 96px;
}
#footer li{
    display: inline-block;
    width: 25%;
}
#footer li div{
    display: table-cell;
    vertical-align: middle;
    height: 96px;
    padding-left: 20px;
}
#footer li div a{
    padding-left: 50px;
    color: #CCC;
    text-transform: uppercase;
    font: bold 12.5px Arial, sans-serif;
    text-shadow: #000 -1px -1px 2px;
    min-height: 43px;
}
#footer li div a strong{
    display: block;
    font: bold 17px 'Arial Black', Arial, sans-serif;
}
#footer li div a.info-email{
    background: url(../images/info-email.png) no-repeat left center;
}
#footer li div a.ligamos{
    background: url(../images/ligamos-para-voce.png) no-repeat left center;
}
#footer li div a.test-drive{
    background: url(../images/test-drive.png) no-repeat left center;
}
#footer li div a.conheca{
    background: url(../images/conheca.png) no-repeat left center;
}

/*Lightboxes*/
.lightbox-icons{
    background-image: url(../images/lightbox-icons.png);
    background-repeat: no-repeat;
}
.lightbox{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url(../images/lightbox-bg.png) repeat;
    z-index: 9999;
    display: none;
}
.lightbox .vendedor-lightbox, .lightbox .test-drive-lightbox, .lightbox .ligamos-lightbox, .lightbox .email-lightbox{
    display: none;
}
.test-drive-lightbox.main-lightbox-content{
    height: 560px;
}
.email-lightbox.main-lightbox-content{
    height: 600px;
    margin-top: -300px;
}
.main-lightbox-content{
    width: 643px;
    height: 525px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin:-262px 0 0 -320px;
    background: #f7f7f7;
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #ebebeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ebebeb));
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ebebeb 100%);
    background: -o-linear-gradient(top,  #f7f7f7 0%,#ebebeb 100%);
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#ebebeb 100%);
    background: linear-gradient(to bottom,  #f7f7f7 0%,#ebebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ebebeb',GradientType=0 );
}
.main-lightbox-content .header-lightbox{
    border-bottom: solid 3px #a7a9ac;
    padding: 13px 24px 12px 44px;
    -webkit-box-shadow: 0 7px 24px -12px black;
    -moz-box-shadow: 0 7px 24px -12px black;
    box-shadow: 0 7px 24px -12px black;
}
.main-lightbox-content .header-lightbox h3{
    height: 53px;
    padding:5px 0 0 68px;
    color: #231f20;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.3em;
    float: left;
}
.main-lightbox-content .header-lightbox h3 strong{
    display: block;
    font: 22.5px 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    line-height: inherit;
}
.test-drive-lightbox .header-lightbox h3{
    background-position: 0px -200px;
}
.ligamos-lightbox .header-lightbox h3{
    background-position: 0px -100px;
    padding-left: 50px
}
.email-lightbox .header-lightbox h3{
    background-position: 0px -290px;
}
.main-lightbox-content .header-lightbox a{
    float: right;
    width: 18px;
    padding-top: 17px;
    background-position: 0px -400px;
    margin-top: 15px;
}
.main-lightbox-content .content-lightbox{
    padding: 25px 35px 0 35px;
}
.main-lightbox-content .content-lightbox p{
    font-size: 14px;
    color: #000;
    line-height: 1.3em;
    margin-bottom: 25px;
}
.main-lightbox-content .content-lightbox input[type="text"], .main-lightbox-content .content-lightbox input[type="email"],
.main-lightbox-content .content-lightbox textarea,
.main-lightbox-content .content-lightbox .select{
    background-color: #FFF;
    border: solid 1px #727d84;
    height: 33px;
    border-radius: 7px;
    padding: 0 10px;
    width: 92%;
    margin-bottom: 10px;
    color: #606a70;
}
.main-lightbox-content .content-lightbox .select{
    overflow: hidden;
}
.main-lightbox-content .content-lightbox .select select{
    height: 33px;
    width: 300px;
    cursor: pointer;
    color: #606a70;
    background-position: 225px -487px;
}
.main-lightbox-content .content-lightbox textarea{
    padding: 10px;
    resize: none;
    overflow: auto;
    height: 90px;
}
.main-lightbox-content .content-lightbox .left{
    float: left;
    width: 47%;
}
.main-lightbox-content .content-lightbox .right{
    float: right;
    width: 47%;
}
.main-lightbox-content .content-lightbox small{
    font-size: 10px;
    color: #000;
    margin-left: 5px;
}
.main-lightbox-content .content-lightbox .linha{
    border-top: solid 1px #80949f;
    border-bottom: solid 1px #FFF;
    margin: 10px 0 16px 0;
}
.main-lightbox-content .content-lightbox input[type="checkbox"]{
    float: left;
    margin: 0 5px 10px 0;
    cursor: pointer;
}
.main-lightbox-content .content-lightbox span{
    font-size: 11px;
    display: block;
    float: left;
}
.main-lightbox-content .content-lightbox button{
    cursor: pointer;
    display: table;
    margin: 5px auto 0 auto;
    color: #333132;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px 50px;
    border-radius: 7px;
    background: #fdb813;
    background: -moz-linear-gradient(top,  #fdb813 1%, #faa61a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fdb813), color-stop(100%,#faa61a));
    background: -webkit-linear-gradient(top,  #fdb813 1%,#faa61a 100%);
    background: -o-linear-gradient(top,  #fdb813 1%,#faa61a 100%);
    background: -ms-linear-gradient(top,  #fdb813 1%,#faa61a 100%);
    background: linear-gradient(to bottom,  #fdb813 1%,#faa61a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb813', endColorstr='#faa61a',GradientType=0 );
}
.main-lightbox-content .content-lightbox button:hover{
    opacity: 0.7;
}
