@charset "utf-8";

/*Sidebar*/
#sidebar{
    margin-bottom: 25px;
}
#sidebar .header-sidebar{
    background: url(../images/sidebar/sidebar-bg.jpg) no-repeat;
    padding: 13px 26px 5px 26px;
}
#sidebar .header-sidebar .txt{
    text-align: right;
}
#sidebar .header-sidebar .txt h3{
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 10px;
    color: white;
    text-shadow: #f35144 2px 2px 1px;
    line-height: 1.7em;
}
#sidebar .header-sidebar .txt h3 strong{
    font-size: 27px;
    display: block;
}
#sidebar .header-sidebar .txt img{
    display: inline;
}
#sidebar .header-sidebar .txt a{
    color: #FFF;
    text-transform: uppercase;
    font: bold 13px 'Montserrat', sans-serif;
    border-radius: 2px;
    background: #026582;
    box-shadow: inset #259eb7 1px 1px 2px;
    width: 55%;
    display: inline-block;
    text-align: center;
    padding: 5px;
}
#sidebar .header-sidebar .txt a.para-voce{
    margin-bottom: 5px;
    background: #1b4350;
    color: #61a5b5;
}

/*Content Sidebar*/
#sidebar .content-sidebar{
    background: #155086;
    padding: 15px 25px;
}
#sidebar .content-sidebar p{
    color: white;
    font: normal 13px 'Montserrat', sans-serif;
}
#sidebar .content-sidebar input{
    width: 96%;
    padding: 0 2%;
    margin-bottom: 10px;
    color: white;
    background: #0f2f4f;
    box-shadow: inset 2px 2px 2px #0d2845;
    height: 36px;
    border: none;
}
#sidebar .content-sidebar span{
    text-transform: uppercase;
    color: #d5dbe3;
    font-size: 13px;
    display: block;
    margin-bottom: 7px;
    font-family: 'Montserrat', sans-serif;
}
#sidebar .content-sidebar #horario-agende, #sidebar .content-sidebar #data-agende{
    width: 46% !important;
    padding: 0 2%;
}
#sidebar .content-sidebar #data-agende{
    float: left;
}
#sidebar .content-sidebar #horario-agende{
    float: right;
}
#sidebar .content-sidebar input[type="checkbox"]{
    display: none;
}
#sidebar .content-sidebar label{
    font: normal 10px italic 'Montserrat', sans-serif;
    color: #c4d2df;
    padding: 5px 0 0 27px;
    background-image: url(../images/sidebar/checkbox.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    height: 21px;
    cursor: pointer;
}
#sidebar .content-sidebar input[type="checkbox"]:checked + label{
    background-position: 0 -41px;
}
#sidebar .content-sidebar button{
    font: normal 19px 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #556f8f;
    text-align: center;
    display: block;
    margin: 10px 0;
    padding: 6px 0;
    width: 100%;
    cursor: pointer;
}
#sidebar .content-sidebar a{
    font: normal 13px 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #c4d2df;
    text-align: center;
    display: block;
    width: 100%;
}

/***************Responsible***************/
@media all and (max-width:1200px){
    #sidebar .header-sidebar{
        background-position: right center;
    }
    #sidebar .header-sidebar .txt a{
        width: 72%;
    }
}
@media all and (max-width:961px){
    #sidebar .header-sidebar{
        display: none;
    }
}