.right h3{
    margin: 20px 0;
}
.right p{
    margin-bottom: 10px !important;
}
.right p a{
    display: inline;
    color: #26406c;
}

.links-biblioteca{
    margin-top: 50px;
}
.links-biblioteca a{
    width: 30%;
    float: left;
    height: 200px;
    color: white;
    font: bold 15px Arial, sans-serif;
    text-align: center;
    border-bottom: solid 5px #7cd0f3;
    position: relative;
}
.links-biblioteca a.consulta{
    background: #406f9f url(../images/biblioteca/consulta-renovacao-reserva.png) no-repeat center 50px;
}
.links-biblioteca a.videoteca{
    margin: 0 5%;
    background: #406f9f url(../images/biblioteca/videoteca.png) no-repeat center 50px;
}
.links-biblioteca a.revista{
    background: #406f9f url(../images/biblioteca/revista-eletronica.png) no-repeat center 50px;
}
.links-biblioteca span{
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
}