.cursos li{
    float: left;
    width: 30%;
    margin: 0 1.6% 40px 1.6%;
    position: relative;
}
.cursos li span.inscricoes-abertas{
    position: absolute;
    display: block;
    background: url(../images/graduacao/inscricoes-abertas.png);
    width: 65px;
    padding-top: 65px;
    right: -19px;
    top: -19px;
    z-index: 3;
}
.cursos li span.course-title{
    position: absolute;
    display: table;
    background: rgba(66, 113, 166, 1);
    width: 210px;
    bottom: 0;
    left: 0;
    font: bold 14px Arial, sans-serif;
    color: white;
}
.cursos li span.course-title .relative{
    padding: 5px;
    color: white;
    text-align: center;
}
.cursos li span.course-title .relative strong{
    font: bold 22px 'Dosis', Arial, sans-serif;
    text-shadow: #2f5684 1px 1px 0;
}
.cursos li span.course-title .relative p{
    font: normal 16px 'Dosis', Arial, sans-serif;
    display: none;
}
.cursos li:hover span.course-title .relative p{
    display: block;
}