.evento .column-left{
    float: left;
    width: 70%;
}
.evento .column-right{
    float: right;
    width: 20%;
    min-height: 123px
}
.evento li{
    border-bottom: solid 1px #4374a8;
    margin-bottom: 25px;
}
.evento .saiba-mais{
    display: table;
    min-height: 123px;
    width: 100%;
}
.evento .saiba-mais-container{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.evento .saiba-mais a{
    font: bold 14px Arial, sans-serif;
    color: white;
    padding: 9px 0;
    text-align: center;
    background: #4375aa;
    background: -moz-linear-gradient(top,  #4375aa 0%, #355f89 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4375aa), color-stop(100%,#355f89));
    background: -webkit-linear-gradient(top,  #4375aa 0%,#355f89 100%);
    background: -o-linear-gradient(top,  #4375aa 0%,#355f89 100%);
    background: -ms-linear-gradient(top,  #4375aa 0%,#355f89 100%);
    background: linear-gradient(to bottom,  #4375aa 0%,#355f89 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4375aa', endColorstr='#355f89',GradientType=0 );
}



.evento span.category{
    color: #19375d;
    font: italic bold 14.5px Arial, sans-serif;
    display: block;
    margin-bottom: 10px;
}
.evento h2{
    color: #4172a4;
    font: bold 19px Arial, sans-serif;
    margin-bottom: 0;
}
.evento .info table td{
    height: 75px;
    color: #4172a4;
    font: normal 11.5px Arial, sans-serif;
    padding-left: 32px;
}
.evento .info table td.data{
    background: url(../images/eventos/data.png) no-repeat left center;
}
.evento .info table td.horario{
    background: url(../images/eventos/horario.png) no-repeat left center;
}
.evento .info table td.carga-horaria{
    background: url(../images/eventos/carga-horaria.png) no-repeat left center;
}
.evento .info table td.ministrantes{
    background: url(../images/eventos/ministrantes.png) no-repeat left center;
}
.evento .info table td.valor{
    background: url(../images/eventos/valor.png) no-repeat left center;
}
.evento .info table td span{
    display: block;
    font: italic bold 11.5px Arial, sans-serif;
    color: #19375d;
}
.evento p{
    font: normal 12px/1.3em Arial, sans-serif;
    color: #939598;
    margin-bottom: 10px;
}
.evento .form-inscricao{
    margin-top: 20px;
}
.evento h3{
    color: #4374a7;
    font: bold 16px Arial, sans-serif;
    margin-bottom: 15px;
}
.evento form input, .evento form label, .evento form span{
    color: #a9abae;
    font: normal 12px Arial;
}
.evento form input[type="text"], .evento form input[type="email"], .evento form input[type="tel"]{
    display: block;
    border: solid 1px #26406c;
    width: 96%;
    padding: 0 2%;
    height: 38px;
    margin-bottom: 15px;
}
.evento form .left{
    float: left;
    width: 44% !important;
}
.evento form .right{
    float: right;
    width: 44% !important;
}
.evento .radio-buttons{
    width: 49%;
    float: right;
}
.evento .radio-container{
    padding: 0 2%;
    height: 38px;
    display: table;
}
.evento .radio-container *{
    display: table-cell !important;
    vertical-align: middle;
    height: 38px;
}
.evento .radio-container input{
    margin: 0 10px;
}
.evento button{
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 76px;
    float: right;
    display: block;
    cursor: pointer;
    background: #26406c;
    background: -moz-linear-gradient(top,  #26406c 0%, #1e3356 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26406c), color-stop(100%,#1e3356));
    background: -webkit-linear-gradient(top,  #26406c 0%,#1e3356 100%);
    background: -o-linear-gradient(top,  #26406c 0%,#1e3356 100%);
    background: -ms-linear-gradient(top,  #26406c 0%,#1e3356 100%);
    background: linear-gradient(to bottom,  #26406c 0%,#1e3356 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26406c', endColorstr='#1e3356',GradientType=0 );
}