.right .agenda .agenda-left{
    float: left;
    width: 49%;
}
.right .agenda .agenda-right{
    float: right;
    width: 49%;
    background: #4272a5;
    border-bottom: solid 4px #7cd0f3;
}
.right .agenda .agenda-right .box-padding{
    padding: 30px;
}
.right .agenda .agenda-right .box-padding *{
    color: white;
}
.right .agenda .agenda-right .box-padding p{
    text-align: justify;
}


.right .text{
    width: 100% !important;
}
.right .left-column{
    width: 100% !important;
}
.right ul{
    margin-bottom: 50px;
}
.right .left-column li div{
    padding: 23px 50px !important;
}
.right .left-column li div table td.first{
    width: 20%;
    font: bold 12px Arial, sans-serif;
    color: #4375a9;
    line-height: 1.5em;
    vertical-align: top;
}
.right .left-column li div table td.second{
    width: 80%;
    font: normal 12px Arial, sans-serif;
    color: #939598;
    line-height: 1.5em;
}
