.cursos li{
    float: left;
    width: 30%;
    margin: 0 1.6% 40px 1.6%;
    position: relative;
}
.cursos li a{
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.cursos li a:hover{
    opacity: 0.7;
}
.cursos li span.inscricoes-abertas{
    position: absolute;
    display: block;
    background: url(../images/graduacao/inscricoes-abertas.png);
    width: 65px;
    padding-top: 65px;
    right: -19px;
    top: -19px;
}
.cursos li span.course-title{
    position: absolute;
    display: block;
    background: url(../images/graduacao/bg-title.png) no-repeat;
    width: 166px;
    padding: 14px 5px 10px 10px;
    left: -4px;
    bottom: -17px;
    display: block;
    font: bold 14px Arial, sans-serif;
    color: white;
}
    