/*Content*/
#content{
    padding-top: 0;
}

/*Slider*/

/*Links Cursos*/
#links-cursos{
    margin: -20px 0 25px 0;
}
#links-cursos li{
    display: inline-block;
    margin-right: 17px;
}
#links-cursos li.last{
    margin-right: 0;
}