@charset "UTF-8";

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}
body, html{
    width: 100%;
    min-height: 100%;
}
img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}
a{
    display: block;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.link-padding{
    position: relative;
    overflow: hidden;
    height: 0;
}
.clear{
    clear: both;
}
.animate{
-webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.animate2{
-webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.content-center{
    width: 940px;
    padding: 0 15px;
    margin: 0 auto;
}
.main-icons{
    background-image: url(../images/icons-default.png);
}
/*End of Reset Css*/

/*Header*/
#header{
    background-color: #f1f1f1;
}
#header #logo{
    width: 293px;
    padding-top: 72px;
    float: left;
    margin-top: 20px;
}
#header .header-contents{
    float: right;
    width: 595px;
    margin-bottom: 35px;
}
#header .header-contents form{
    background-color: #FFF;
    border: solid 1px #d1d3d4;
    padding: 0 7px;
    width: 270px;
    margin-top: 8px;
    float: left;
}
#header .header-contents form input{
    outline: none;
    font-size: 13px;
    color:#666;
    width: 240px;
    height: 27px;
    float: left;
}
#header .header-contents form #main-menu-search-button{
    width: 26px;
    padding-top: 26px;
    background-position: 0 -132px;
    cursor: pointer;
    background-color: #FFF;
    float: right;
}
#header .header-contents .portais-link{
    float: right;
    width: 302px;
    background: #e6e7e7;
    background: -moz-linear-gradient(top, #e6e7e7 0%, #cdcece 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e7e7), color-stop(100%,#cdcece));
    background: -webkit-linear-gradient(top, #e6e7e7 0%,#cdcece 100%);
    background: -o-linear-gradient(top, #e6e7e7 0%,#cdcece 100%);
    background: -ms-linear-gradient(top, #e6e7e7 0%,#cdcece 100%);
    background: linear-gradient(to bottom, #e6e7e7 0%,#cdcece 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e7e7', endColorstr='#cdcece',GradientType=0 );
}
#header .header-contents .portais-link a{
    float: left;
    width: 37%;
    background-position: 15px -240px;
    padding: 12px 0 10px 33px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}
#header .header-contents .portais-link .portal-aluno{
    border-right: solid 1px #f4f4f4;
}
#header .header-contents #main-menu-1{
    background-position: 0 -349px;
    background-repeat: repeat-x;
    width: 611px;
    float: right;
    margin-top: 40px;
    min-height: 23px;
}
#header .header-contents #main-menu-1 li{
    display: block;
    float: left;
}
#header .header-contents #main-menu-1 li a{
    color: #5e5857;
    font-size: 11px;
}
#header .header-contents #main-menu-1 li a:before{
    content: " | ";
    color: #5e5857;
    font-size: 11px;
    margin:0 4px;
}
#header .header-contents #main-menu-1 li:first-child a:before{
    content: "";
    margin: 0;
}

#header .main-menu-2{
    background: #3b6795;
    background: -moz-linear-gradient(top,  #3b6795 0%, #4578ad 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b6795), color-stop(100%,#4578ad));
    background: -webkit-linear-gradient(top,  #3b6795 0%,#4578ad 100%);
    background: -o-linear-gradient(top,  #3b6795 0%,#4578ad 100%);
    background: -ms-linear-gradient(top,  #3b6795 0%,#4578ad 100%);
    background: linear-gradient(to bottom,  #3b6795 0%,#4578ad 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b6795', endColorstr='#4578ad',GradientType=0 );
    -webkit-box-shadow: inset 0px 9px 19px -6px rgba(56,56,56,1);
    -moz-box-shadow: inset 0px 9px 19px -6px rgba(56,56,56,1);
    box-shadow: inset 0px 9px 19px -6px rgba(56,56,56,1);
}
#header .main-menu-2 ul{
    position: relative;
}
#header .main-menu-2 li{
    width: 186px;
    float: left;
    text-align: center;
    border-bottom: 4px solid #7cd0f3;
    border-left: 1px solid #37618a;
    border-right: 1px solid #5481b0;
}
#header .main-menu-2 li:hover{
    background: #183359;
}
#header .main-menu-2 li.o-instituto:hover{
    border-bottom: 4px solid #feba12;
}
#header .main-menu-2 li.graduacao:hover{
    border-bottom: 4px solid #28ac4f;
}
#header .main-menu-2 li.pos-graduacao:hover{
    border-bottom: 4px solid #a23f97;
}
#header .main-menu-2 li a{
    color:#f1f2f2;
    font:bold 16px Arial, sans-serif;
    padding: 14px 0;
}
#header .main-menu-2 li a:hover{
    text-decoration: none;
}

/*Submenus*/
.submenu{
    position: absolute;
    left: 0;
    top: 50px;
    background: #183259;
    z-index: 10;
    width: 100%;
    box-shadow: #999 2px 2px 7px;
    display: none;
}
.submenu-padding{
    padding: 28px 32px 10px 32px;
    height: 100%;
}
.submenu .left{
    float: left;
    width: 335px;
}
.pos-graduacao .submenu .left{
    width: 330px;
}
.pos-graduacao .submenu .separator{
    margin: -7px 40px -7px 0 !important;
}
.submenu .left.first{
    float: left;
    width: 114px;
}
.submenu a{
    font: bold 14px Arial, Helvetica, sans-serif !important;
    text-align: left;
    padding: 0 !important;
    margin-bottom: 22px
}
.submenu a:hover{
    color: #7cd0f3 !important;
}
.submenu ul{
    width: 380px
}
.submenu ul.cursos{
    width: auto;
}
.submenu li{
    text-align: left !important;
    border: none !important;
    float: left !important;
    width: 170px !important;
}
.submenu li:hover{
    background: none !important;
}
.submenu li a{
    text-align: left !important;
    font: normal 12px Arial, Helvetica, sans-serif !important;
    padding: 0 0 0 20px !important;
    min-height: 11px !important;
    background: url(../images/submenu-a.png) no-repeat 0 center;
}
.submenu .separator{
    height: 144px;
    border-left: solid 1px #142948;
    border-right: solid 1px #2e4569;
    float: left;
    margin: -7px 35px;
}
.submenu .right{
    float: left;
    width: 335px;
}
.submenu .right.graduacao{
    width: 211px;
}
.submenu .right.graduacao2{
    width: 130px;
}

/*End of Header*/

/*Content*/
#content{
    padding: 30px 0;
    min-height: 600px;
}
/*End of Content*/

/*Footer*/
#footer .footer-blue{
    background-color: #1a365f;
    -webkit-box-shadow: inset 0px 9px 19px -6px rgba(56,56,56,1);
    -moz-box-shadow: inset 0px 9px 19px -6px rgba(56,56,56,1);
    box-shadow: inset 0px 9px 19px -6px rgba(56,56,56,1);
    padding: 15px 0;
}
#footer .footer-blue li{
    float: left;
    margin-top: 5px;
}
#footer .footer-blue a:before{
    content:"|";
    margin: 0 10px;
}
#footer .footer-blue li:first-child a:before{
    content:"";
    margin: 0;
}
#footer .footer-blue a{
    color: #FFF;
    font-size: 12px;
}
#footer .footer-blue .links-left{
    float: left;
    padding-top: 11px;
}
#footer .footer-blue .social{
    float: right;
    display: table;
}
#footer .footer-blue .social a{
    width: 38px;
    padding-top: 38px;
    margin-left: 15px;
}
#footer .footer-blue .social a:hover{
    opacity: 0.7;
}
#footer .footer-blue .social .facebook{
    background-position: 0 -464px;
}
#footer .footer-blue .social .twitter{
    background-position: 0 -576px;
}
#footer .footer-blue .social .linkedin{
    background-position: 0 -688px;
}
#footer .footer-blue .social .youtube{
    background-position: 0 -800px;
}
#footer .footer-blue .social .flickr{
    background-position: 0 -912px;
}
#footer .footer-blue .social .feeds{
    background-position: 0 -1024px;
}
#footer .white-footer{
    background-color: #FFF;
    padding: 10px 0;
    margin-bottom: 20px;
}
#footer .white-footer small{
    font-size: 11px;
    color: #a0b0c1;
}
/*End of Footer*/

/*Slider's*/
.bx-wrapper{position:relative; margin:0 auto 60px; padding:0; *zoom:1}
.bx-wrapper img{max-width:100%; display:block}
.bx-wrapper .bx-viewport{background:#fff; -webkit-transform:translatez(0); -moz-transform:translatez(0);  -ms-transform:translatez(0);  -o-transform:translatez(0);  transform:translatez(0)}
.bx-wrapper .bx-pager, 
.bx-wrapper .bx-controls-auto{position:absolute; bottom:-30px; width:100%}
.bx-wrapper .bx-loading{min-height:50px; background:url(../images/bx_loader.gif) center center no-repeat #fff; height:100%; width:100%; position:absolute; top:0; left:0; z-index:2000}
.bx-wrapper .bx-pager{text-align:center; font-size:.85em; font-family:Arial; font-weight:bold; color:#666; padding-top:20px}
.bx-wrapper .bx-pager .bx-pager-item, 
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block; *zoom:1; *display:inline}
.bx-wrapper .bx-pager.bx-default-pager a{background:#666; text-indent:-9999px; display:block; width:10px; height:10px; margin:0 5px; outline:0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active{background:#000}
.bx-wrapper .bx-prev{left:10px; background:url(../images/controls.png) no-repeat 0 -32px}
.bx-wrapper .bx-next{right:10px; background:url(../images/controls.png) no-repeat -43px -32px}
.bx-wrapper .bx-prev:hover{background-position:0 0}
.bx-wrapper .bx-next:hover{background-position:-43px 0}
.bx-wrapper .bx-controls-direction a{position:absolute; top:50%; margin-top:-16px; outline:0; width:32px; height:32px; text-indent:-9999px; z-index:10}
.bx-wrapper .bx-controls-direction a.disabled{display:none}
.bx-wrapper .bx-controls-auto{text-align:center}
.bx-wrapper .bx-controls-auto .bx-start{display:block; text-indent:-9999px; width:10px; height:11px; outline:0; background:url(../images/controls.png) -86px -11px no-repeat; margin:0 3px}
.bx-wrapper .bx-controls-auto .bx-start:hover, 
.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0}
.bx-wrapper .bx-controls-auto .bx-stop{display:block; text-indent:-9999px; width:9px; height:11px; outline:0; background:url(../images/controls.png) -86px -44px no-repeat; margin:0 3px}
.bx-wrapper .bx-controls-auto .bx-stop:hover, 
.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left; width:80%}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0; width:35px}
.bx-wrapper .bx-caption{position:absolute; bottom:0; left:0; background:#666\9; background:rgba(80,80,80,0.75); width:100%}
.bx-wrapper .bx-caption span{color:#fff; font-family:Arial; display:block; font-size:.85em; padding:10px}
