@charset "UTF-8";
/*#f29900;*/
#brands-menu{
    border-bottom: solid 2px #bf1413;
}
#brands-menu li.active, #lines, .cars-menu li.active, #section-menu li span, #seminovos-menu li a.saiba-mais, #float-footer, #lines .the-lines li:hover{
    background-color: #bf1413;
}
#slider .bx-pager-item a.active, #seminovos-menu li a.car-name, #seminovos-menu .title a, #seminovos-menu li a.car-name:before, #corporate-menu li.active a{
    color: #ff1b1a;
}
#float-footer ul li{
    border-right: solid 1px #f23433;
    border-left: solid 1px #93100f;
}
#lines ul.submenu-lines, #lines ul.submenu-lines li a:hover{
    border: solid 1px #bf1413;
}
#lines .the-lines li a{
	border-left: solid 1px white;
}
#slider .bx-pager-item a.active{
    background: url(../images/home/bg-pager-active-dodge.png) no-repeat right center;
}

#section-menu li {
    margin: 0 9px;
}