@charset "UTF-8";

@font-face {
    font-family: 'CorporateS-Regular';
    src: url('../fonts/CorporateS-Regular.eot');
    src: url('../fonts/CorporateS-Regular?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateS-Regular.svg#CorporateS-Regular') format('svg'),
        url('../fonts/CorporateS-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#container{
    background-position: 0 478px;
}
.main-bg-img{
    display: none;
}

/*Slider*/
#slider{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 477px;
    z-index: 0;
    border-bottom: solid 1px #bfbfbe;
}
#slider .the-slider a{
    height: 477px;
    width: 100%;
    background-position: center;
    background-image: url(../images/home/slider.jpg);
}
#slider .bx-controls{
    position: absolute;
    width: 865px;
    left: 50%;
    margin-left: -485px;
    bottom: 20px;
    z-index: 2;
}
#slider .bx-pager-item{
    float: left;
    margin-right: 30px;
}
#slider .bx-pager-item a{
    color: #525252;
    font: normal 12px 'CorporateS-Regular', Arial, sans-serif;
    background: url(../images/home/bg-pager.png) no-repeat right center;
    width: 94px;
}
#slider .bx-pager-item a:hover{
    text-decoration: none;
}
#slider .bx-pager-item a.active{
    color: #00adef;
    background: url(../images/home/bg-pager-active.png) no-repeat right center;
}


/*Content*/
#content{
    margin-top: 297px;
    border-top: solid 1px #333436;
    padding-top: 16px;
}

/*Section Menu*/
#section-menu, #seminovos-menu{
    position: relative;
    margin-bottom: 35px;
}
#section-menu li{
    float: left;
    margin: 0 15px;
    box-shadow: #000 0 0 5px;
}
#section-menu li:first-child{
    margin-left: 11px;
}
#section-menu li span{
    font: normal 30px 'CorporateA-Condensed', Arial, sans-serif;
    background: #46515b;
    padding: 5px 10px 3px 10px;
    display: block;
}

/*THE float menu*/
#section-menu li.todos-veiculos{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 185px;
    overflow: hidden;
    height: 269px;
    background: #FFF;
}
#section-menu li.todos-veiculos.active{
    height: 300px;
}
#section-menu li.todos-veiculos span{
    color: #7e7e7e;
    font-size: 20px;
    padding: 18px 12px;
    background: #FFF url(../images/home/bg-todos-veiculos-span.png) no-repeat right center;
    border-bottom: solid 1px #cbcbcb;
}
#section-menu li.todos-veiculos span.active{
    background: #FFF url(../images/home/bg-todos-veiculos-span-active.png) no-repeat right center;
}
.category-img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 185px;
    height: 209px;
}
.category-img.active{
    bottom: -209px;
}
.category-img.sem-carro{
    background: url(../images/home/sem-carro.jpg);
}

#section-menu li.todos-veiculos ul{
    position: absolute;
    bottom: -230px;
}
#section-menu li.todos-veiculos ul.active{
    bottom: 0px;
}
#section-menu li.todos-veiculos ul li{
    float: none;
    box-shadow: none;
    margin: 0;
    width: 185px;
    height: 75px;
}
#section-menu li.todos-veiculos ul li.carros-slide-menu{
    background: url(../images/home/carros.jpg);
}
#section-menu li.todos-veiculos ul li.vans-slide-menu{
    background: url(../images/home/vans.jpg);
}
#section-menu li.todos-veiculos ul li.onibus-slide-menu{
    background: url(../images/home/onibus.jpg);
}
#section-menu li.todos-veiculos ul li.caminhoes-slide-menu{
    background: url(../images/home/caminhoes.jpg);
}
#section-menu li.todos-veiculos ul li a{
    color: #194775;
    font-size: 13px;
    padding: 14px 0 0 18px;
    height: 60px;
}

/*Seminovos Menu*/
#seminovos-menu{
    margin-bottom: 50px;
}
#seminovos-menu .title{
    margin-bottom: 25px;
}
#seminovos-menu .title h2{
    font: normal 26px 'CorporateA-Condensed', Arial, sans-serif;
    padding-left: 20px;
    background: url(../images/interna-landing-onibus/bg-link.png) no-repeat left 7px;
    margin-left: 11px;
    float: left;
}
#seminovos-menu .title a{
    font: normal 11px Arial, sans-serif;
    float: right;
    color: #00adef;
    margin-right: 11px;
}
#seminovos-menu li{
    width: 23%;
    float: left;
    margin: 0 1%;
}
#seminovos-menu li a.car-name:before{
    content: "> ";
    color: #00adef;
}
#seminovos-menu li a.car-name{
    margin: 10px 0;
    display: block;
    color: #00adef;
    font-size: 11px;
}
#seminovos-menu li p{
    margin-bottom: 20px;
    display: block;
    font-size: 11px;
}
#seminovos-menu li a.saiba-mais{
    margin-bottom: 20px;
    display: table;
    font-size: 13px;
    background: #0593cd url(../images/home/bg-saiba-mais.png) no-repeat right center;
    padding: 10px;
    width: 86px;
}