@charset "UTF-8";
@font-face {
    font-family: 'CorporateS-Regular';
    src: url('../fonts/CorporateS-Regular.eot');
    src: url('../fonts/CorporateS-Regular?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateS-Regular.svg#CorporateS-Regular') format('svg'),
        url('../fonts/CorporateS-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#container{
    background: none;
}
.main-bg-img{
    background: url(../images/interna-landing/bg-car.jpg) no-repeat center;
    height: 497px;
    border-bottom: solid 1px white;
}
#header{
    margin-bottom: 317px;
}

/*Content*/
#content{
    padding-top: 100px;
    position: relative;
}

/*Price bar*/
#price-bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #333;
}
#price-bar.fixed{
    position: fixed;
    z-index: 10;
}
#price-bar *{
    font-family: 'CorporateA';
}
#price-bar h1{
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    height: 55px;
}
#price-bar .the-price{
    float: right;
    display: table;
}
#price-bar .car-title{
    float: left;
}
#price-bar .the-price .prefix, #price-bar .the-price strong.price{
    /*float: left;*/
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    height: 55px;
}
#price-bar .the-price .prefix{
    padding-right: 10px;
}
#price-bar .the-price .prefix *{
    font-size: 15px;
}
#price-bar .the-price .prefix span.blue{
    display: block;
    color: #03a4e1;
}
#price-bar .the-price strong.price{
    color: #03a4e1;
    font-size: 42px;
    font-weight: normal;
}

/*Title for all contents*/
#content .title{
    padding-bottom: 10px;
    border-bottom: solid 1px #292929;
    margin-bottom: 15px;
    clear: both;
}
#content .title h2{
    font-family: 'CorporateA';
    font-weight: normal;
    font-size: 24px;
    float: left;
}
#content .title .ficha-tecnica, #content .title strong.model{
    float: right;
}

/*Gallery*/
#gallery, #info{
    margin-bottom: 50px;
}
#gallery .title .ficha-tecnica{
    font-size: 11px;
    padding-top: 5px;
}
#gallery #large-image{
    margin-bottom: 20px;
}
#gallery #large-image img{
    border: solid 1px #0594cf;
}
#gallery .bx-wrapper{
    position: relative;
}
#gallery #thumbs a.active img{
    border: solid 1px #0594cf;
}
#gallery .bx-controls a{
    position: absolute;
    overflow: hidden;
    width: 11px;
    padding-top: 22px;
    height: 0;
    display: block;
    top: 20px;
}
#gallery .bx-controls a.bx-prev{
    background: url(../images/interna-landing/prev.png) no-repeat;
    left: -40px
}
#gallery .bx-controls a.bx-next{
    background: url(../images/interna-landing/next.png) no-repeat;
    right: -40px;
}

/*Info*/
#info .title strong.model{
    font-family: 'CorporateA';
    font-size: 24px;
    font-weight: normal;
}
#info #info-container{
    margin-top: 30px;
    background: #141414;
}
#info #info-container .image-slogan{
    background: #171717;
}
#info #info-container .image-slogan img{
    width: 50%;
    float: left;
}
#info #info-container .image-slogan .car-slogan{
    float: right;
    width: 50%;
}
#info #info-container .image-slogan .car-slogan h3{
    font-family: 'CorporateA';
    font-size: 47px;
    font-weight: normal;
}
#info #info-container .image-slogan .car-slogan h4{
    font-family: 'CorporateS-Regular';
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    font-style: italic;
    margin: 7px 0;
}
#info #info-container .image-slogan .car-slogan p{
    font-size: 12px;
    color: #7a7575;
}
#info #info-container .image-slogan .car-slogan .box-padding{
    display: table;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 55px;
}

/*The Info*/
#info #info-container .the-info{
    padding: 35px 60px;
}
#info #info-container .the-info .column{
    float: left;
    width: 25%;
}
#info #info-container .the-info .column.dimensoes{
    margin: 0 10%;
}
#info #info-container .the-info .column h4{
    font-family: 'CorporateA';
    font-size: 24px;
    font-weight: normal;
}
#info #info-container .the-info .column li{
    margin-bottom: 15px;
    font-size: 12px;
    font-style: italic;
    line-height: 1.4em;
}
#info #info-container .the-info .column li strong{
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
}

/*Lojas*/
#lojas{
    margin-bottom: 150px;
}
#lojas li{
    width: 30%;
    float: left;
    margin: 0 1.5%;
    border: solid 1px #171717;
}
#lojas li a{
    display: table;
    margin: 0 auto;
    padding: 15px 0;
    line-height: 1.5em;
    font-size: 15px;
}
#lojas li a strong{
    display: block;
    font-family: 'CorporateA';
    font-size: 24px;
    font-weight: normal;
}