@charset "UTF-8";

/*Fonts*/
@font-face {
    font-family: 'avenirmedium';
    src: url('../fonts/avenir-medium-webfont.eot');
    src: url('../fonts/avenir-medium-webfont-.eot#iefix') format('embedded-opentype'),
    url('../fonts/avenir-medium-webfont.woff') format('woff'),
    url('../fonts/avenir-medium-webfont.ttf') format('truetype'),
    url('../fonts/avenir-medium-webfont.svg#avenirmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenirblack';
    src: url('../fonts/avenir-black-webfont.eot');
    src: url('../fonts/avenir-black-webfont-.eot#iefix') format('embedded-opentype'),
    url('../fonts/avenir-black-webfont.woff') format('woff'),
    url('../fonts/avenir-black-webfont.ttf') format('truetype'),
    url('../fonts/avenir-black-webfont.svg#avenirblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    list-style: none;
    font-family: 'avenirmedium', Arial, Helvetica, sans-serif;
    line-height: 1em;
}
body, html{
    width: 100%;
    min-height: 100%;
}
img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}
a{
    display: block;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.link-padding{
    position: relative;
    overflow: hidden;
    height: 0;
}
.clear{
    clear: both;
}
.animate{
-webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.content-center{
    width: 950px;
    padding: 0 10px;
    margin: 0 auto;
}
/*End of Reset Css*/

/*Header*/
#header{
    background: #FFF;
    border-bottom: solid 1px #99adbf;
}
#header .top{
    padding: 15px 0;
}
#header .top a#logo{
    float: left;
    width: 34.5%;
}
#header .top .hgroup{
    float: right;
    width: 59%;
    padding-top: 15px;
}
#header .top .hgroup h1, #header .top .hgroup h2{
    text-transform: uppercase;
}
#header .top .hgroup h1{
    color: #003768;
    font: normal 46px 'avenirblack', Arial, sans-serif; 
    margin-bottom: 10px;
}
#header .top .hgroup h2{
    color: #ef4135;
    font-size: 20px;
}
#header .veja-como-e-facil{
    background: #e4e7e9;
}
#header .veja-como-e-facil li{
    float: left;
    width: 25%;
    display: table;
}
#header .veja-como-e-facil li.informe{
    width: 22%;
}
#header .veja-como-e-facil li.leia{
    width: 28%;
}
#header .veja-como-e-facil li .item{
    height: 95px;
    display: table-cell;
    vertical-align: middle;
}
#header .veja-como-e-facil li .item h3{
    text-transform: uppercase;
    color: #40698d;
    font: bold 20px 'avenirmedium', Arial, sans-serif;
}
#header .veja-como-e-facil li .item span{
    text-transform: uppercase;
    color: #40698d;
    font: normal 14px 'avenirmedium', Arial, sans-serif;
    padding-left: 90px;
    display: block;
}
#header .veja-como-e-facil li.informe .item span{
    padding-left: 65px;
}
#header .veja-como-e-facil li.escolha .item{
    background: url(../images/icon-escolha.png) no-repeat left center;
}
#header .veja-como-e-facil li.informe .item{
    background: url(../images/icon-informe.png) no-repeat left center;
}
#header .veja-como-e-facil li.leia .item{
    background: url(../images/icon-leia.png) no-repeat left center;
}

/*Content*/
#content{
    background: #003768;
    padding: 15px 0;
}

/*Footer*/
#footer {
    width: 100%;
    text-align: center;
}
#footer .imagem img {
    width: 100%;
}
.azul {
    background: #0f2a52;
    padding: 15px;
}
.azul.mobile {
    display: none;
}
.azul .relative {
    text-align: left;
    display: table;
    min-height: 60px;
}
.azul .relative.item1,
.azul .relative.item2 {
    padding-left: 50px;
}
.azul .relative.item3,
.azul .relative.item4 {
    padding-left: 62px;
}
.azul span {
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'avenirblack';
    font-size: 13px;
}
.azul .item {
    float: left;
    width: 25%;
}
.azul .item .item1 {
    background: url(../images/footer-1.png) no-repeat 0 center;
}
.azul .item .item2 {
    background: url(../images/footer-2.png) no-repeat 0 center;
}
.azul .item .item3 {
    background: url(../images/footer-3.png) no-repeat 0 center;
}
.azul .item .item4 {
    background: url(../images/footer-4.png) no-repeat 0 center;
}