@charset "UTF-8";
#content{
    overflow: hidden;
}

/*Header*/
#header .logged-user{
    position: absolute;
    right: 0;
    top: -15px;
    background: url(../images/convide/bg-logged-user.png) no-repeat;
    width: 280px;
    height: 49px;
    padding: 30px 0 0 40px;
}
#header .logged-user .info, #header .logged-user img{
    float: left;
}
#header .logged-user .info{
    margin-right: 5px;
}
#header .logged-user img{
    border-radius: 100%;
    border: solid 2px white;
    margin-top: -5px;
    max-width: 43px;
    max-height: 43px;
}
#header .logged-user .info span.hello{
    display: block;
    font-size: 12px;
    margin-bottom: 7px;
    text-shadow: #dc9f12 1px 1px 3px;
    
}
#header .logged-user .info a, #header .logged-user .info span.separator{
    display: inline-block !important;
    font-size: 12px;
    text-transform: uppercase;
    float: none;
    color: #0d0d0d;
}
#header .logged-user .info span.separator{
    margin: 0 2px;
}

.main-content{
    float: left;
    width: 68%;
}

/*Numbers*/
.numbers{
    float: right;
    margin: 105px -54px 0 0;
    max-width: 318px;
    width: 32.5%;
}
.numbers div{
    width: 91%;
    height: 140px;
    text-align: center;
    padding-top: 14px;
    background-size: 100% !important;
}
.numbers .amigos{
    background: url(../images/convide/bg-amigos-convidados.png) no-repeat;
}
.numbers .mensalidades{
    background: url(../images/convide/bg-mensalidades-free.png) no-repeat;
    margin-bottom: 10px;
    float: right;
}
.numbers div h3{
    font: bold italic 21px 'Helvetica Neue', sans-serif;
    text-shadow: #ae7a1d -1px -1px 2px;
    margin-bottom: 10px;
}
.numbers .mensalidades h3{
    text-indent: 20px
}
.numbers div span{
    font: normal 79px 'Lato', sans-serif;
    margin-bottom: 20px;
}
.numbers small{
    font-size: 10px;
    text-align: right;
    margin-right: 45px;
    display: block;
}

/*Steps*/
.steps{
    position: absolute;
    right: 50%;
    top: 390px;
    margin-right: -135px;
    /*width: 60%;*/
}
.steps .steps-content{
    float: right;
}
.steps .steps-content .step{
    float: left;
    margin-left: 55px;
    max-width: 250px;
}
.steps .steps-content .step:first-child{
    margin-left: 0;
}
.steps .steps-content .step.one{
    width: 105px;
}
.steps .steps-content .step.three{
    width: 140px;
}
.steps .steps-content .step img{
    margin-bottom: 10px;
}
.steps .steps-content .step p{
    font: bold 12px 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

/*Invite your friends*/
h2, h3{
    font-style: italic;
    font-family: Helvetica Neue, sans-serif;
}
.invite{
    background: #0c0c0c url(../images/convide/bg-convide.png) no-repeat center top;
    -webkit-box-shadow: inset 0px -18px 21px -10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px -18px 21px -10px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px -18px 21px -10px rgba(50, 50, 50, 0.75);
}
.invite h2{
    padding: 46px 0 40px 0;
    color: #382908;
    font-size: 27px;
    text-shadow: #fcb823 1px 1px 1px
}
.content-center2{
    max-width: 989px;
    margin: 0 auto;
}
.invite .the-list {
    overflow-y: scroll;
    max-height: 470px;
}
.item{
    float: left;
    text-align: center;
    margin: 20px 1%;
    width: 8%;
}
.item img{
    display: inline;
    border-radius: 100%;
    border: solid 3px #fbb813;
}
.item span{
    color: #fbb813;
    font-size: 12px;
    clear: both;
}

.item .friend-img{
    position: relative;
}
.item .friend-img .invited{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/convide/invited.png) no-repeat center;
    display: none;
}
.item.invited .friend-img img, .item.invited span{
    opacity: 0.6;
}
.item.invited .friend-img .invited{
    display: block;
    z-index: 2;
}

/*Another Friends*/
.another-friends{
    padding-top: 60px;
    background: #161616 url(../images/bg-body.png) repeat;
    position: relative;
    z-index: 2;
    border-top: solid 1px #292929;
    -webkit-box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 45px 15px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 45px 15px rgba(0, 0, 0, 1);
}
.another-friends .left-content, .another-friends .right-content{
    width: 45%;
}
.another-friends .left-content{
    float: left;
    background: url(../images/convide/bg-insista.png) no-repeat right 30px;
    padding: 51px 50px 0 0;
}
.another-friends .right-content{
    float: right;
    background: url(../images/convide/bg-ja-matriculados.png) no-repeat left top;
}
.another-friends .item{
    width: 23%;
}
.another-friends .the-friends{
    width: 400px;
    max-height: 460px;
    position: relative;
    overflow-y: scroll;
}
.another-friends h2{
    color: #382908;
    font-size: 24px;
    text-shadow: #fcb823 1px 1px 1px;
    width: 100%;
}
 .another-friends .left-content .the-friends{
    float: right;
}
.another-friends .left-content h2{
    margin-bottom: 38px;
    text-align: right;
    margin-left: -120px;
}
.another-friends .right-content{
    padding: 37px 0 0 26px;
}
.another-friends .right-content h2{
    padding-left: 16px;
    margin-bottom: 8px;
    margin-top: 0 !important;
}
.another-friends .right-content h3{
    padding-left: 16px;
    margin-bottom: 30px;
    color: #382908;
    font-size: 14px;
}