@charset "UTF-8";
#content{
    overflow: hidden;
}

/*Header*/
#header .logged-user{
    position: absolute;
    right: 0;
    top: 15px;
    background: url(../images/convide/bg-logged-user.png) no-repeat;
    width: 450px;
    height: 49px;
    padding: 30px 0 0 40px;
}
#header .logged-user .info, #header .logged-user img{
    float: left;
}
#header .logged-user .info{
    margin-right: 5px;
}
#header .logged-user img{
    border-radius: 100%;
    border: solid 2px white;
    margin-top: -5px
}
#header .logged-user .info span.hello{
    display: block;
    font-size: 12px;
    margin-bottom: 7px;
    text-shadow: #dc9f12 1px 1px 3px;
    
}
#header .logged-user .info a, #header .logged-user .info span.separator{
    display: inline-block !important;
    font-size: 12px;
    text-transform: uppercase;
    float: none;
    color: #0d0d0d;
}
#header .logged-user .info span.separator{
    margin: 0 2px;
}
#content .right h1{
    margin: 16px 0 55px 0;
}

/*Numbers*/
.left{
    margin-bottom: 55px;
}
.right .numbers .item{
    float: left;
    width: 288px;
    height: 144px;
    text-align: center;
    margin: -20px 0 0 0;
}
.right .numbers .item.points{
    background: url(../images/convide/bg-pontos-acumulados.png) no-repeat;
    margin-left: -60px !important;
}
.right .numbers .item.friends{
    background: url(../images/convide/bg-amigos-convidados.png) no-repeat;
}
.right .numbers .item.months{
    background: url(../images/convide/bg-meses-acumulados.png) no-repeat;
    margin-right: -60px !important;
}
.right .numbers .item h3{
    font-size: 21px;
    text-shadow: #dda012 1px 1px 1px;
    padding-top: 10px;
    text-indent: -17px;
    margin-bottom: 12px;
}
.right .numbers .item span{
    font: normal 79px Lato, sans-serif;
}

/*Invite your friends*/
h2, h3{
    font-style: italic;
    font-family: Helvetica Neue, sans-serif;
}
.invite{
    background: #0c0c0c url(../images/convide/bg-convide.png) no-repeat center top;
    -webkit-box-shadow: inset 0px -18px 21px -10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px -18px 21px -10px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px -18px 21px -10px rgba(50, 50, 50, 0.75);
}
.invite h2{
    padding: 46px 0 40px 0;
    color: #382908;
    font-size: 27px;
    text-shadow: #fcb823 1px 1px 1px
}
.content-center2{
    max-width: 989px;
    margin: 0 auto;
}
.invite .the-list {
    overflow-y: scroll;
    max-height: 470px;
}
.item{
    float: left;
    text-align: center;
    margin: 20px 1%;
    width: 8%;
}
.item img{
    display: inline;
    border-radius: 100%;
    border: solid 3px #fbb813;
}
.item span{
    color: #fbb813;
    font-size: 12px;
}

/*Another Friends*/
.another-friends{
    padding-top: 60px;
    background: #161616 url(../images/bg-body.png) repeat;
    position: relative;
    z-index: 2;
    border-top: solid 1px #292929;
    -webkit-box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 45px 15px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 45px 15px rgba(0, 0, 0, 1);
}
.another-friends .left-content, .another-friends .right-content{
    width: 45%;
}
.another-friends .left-content{
    float: left;
    background: url(../images/convide/bg-insista.png) no-repeat right 30px;
    padding: 51px 50px 0 0;
}
.another-friends .right-content{
    float: right;
    background: url(../images/convide/bg-ja-matriculados.png) no-repeat left top;
}
.another-friends .item{
    width: 23%;
}
.another-friends .the-friends{
    width: 400px;
    max-height: 460px;
    position: relative;
    overflow-y: scroll;
}
.another-friends h2{
    color: #382908;
    font-size: 24px;
    text-shadow: #fcb823 1px 1px 1px;
    width: 100%;
}
 .another-friends .left-content .the-friends{
    float: right;
}
.another-friends .left-content h2{
    margin-bottom: 38px;
    text-align: right;
}
.another-friends .right-content{
    padding: 50px 0 0 26px;
}
.another-friends .right-content h2{
    padding-left: 16px;
    margin-bottom: 40px;
}