@charset "UTF-8";

/*Content*/
#content{
    background: rgba(0, 0, 0, 0.7);
    border-bottom: solid 1px #131313;
}
#content .stripe{
    background: url(../images/home/faixa.png) no-repeat center;
    position: relative;
    top: -53px;
    margin: 80px 0 -55px 0;
}
#content form{
    display: table;
    margin: 0 auto;
    max-width: 815px;
    width: 100%;
    padding: 17px 0 50px 0;
}
#content form input[type="text"], #content form input[type="email"]{
    background: #1e1b13;
    height: 32px;
    border-radius: 5px;
    padding: 0 2%;
    color: #fbb813;
    font-size: 15px;
    border: solid 1px #0a0a0a;
    text-shadow: #000 0 0 3px;
    width: 24%;
    max-width: 220px;
    margin:5px 2% 0 0;
    display: block;
    float: left;
}
#content form input#regulamento{
    display: none;
}
#content form label{
    display: block;
    float: left;
    font-size: 12px;
    color: #0f0f0f;
    padding: 0 0 0 35px;
    background: url(../images/home/checkbox.png) no-repeat left -52px;
    cursor: pointer;
    margin-top: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#content form input#regulamento:checked + label{
    background: url(../images/home/checkbox.png) no-repeat left 4px;
}
#content form label a{
    display: inline-block;
    color: inherit;
    text-decoration: underline;
}
#content form button{
    background: url(../images/home/entrar.png) no-repeat;
    width: 146px;
    padding-top: 41px;
    cursor: pointer;
    display: block;
    float: right;
}
#content form button:hover{
    opacity: 0.7;
}
#content .one-half{
    float: left;
    width: 44%;
    padding: 20px 3%;
}
#content .one-half p{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3em;
}
#content .one-half.first a{
    color: #fcb813;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
#content .one-half h3{
    color: #fcb813;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}
#content .one-half li{
    font-size: 14px;
    margin-bottom: 10px;
}
#content .one-half.last a{
    display: inline;
    text-decoration: underline;
}