@charset "UTF-8";
@font-face {
    font-family: ‘Helvetica Neue’;
    src: url(‘../fonts/HelveticaNeueBold.eot’);
    src: url(‘../fonts/HelveticaNeueBold?#iefix’) format(‘embedded-opentype’),
        url(‘../fonts/HelveticaNeueBold.svg#HelveticaNeueBold’) format(‘svg’),
        url(‘../fonts/HelveticaNeueBold.ttf’) format(‘truetype’);
    font-weight: bold;
    font-style: normal;
}
.font{
    font-family: 'Helvetica Neue', sans-serif;
}

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    color: #FFF;
}
*::-webkit-scrollbar{
    background-color: #000;
    width: 8px;
}
*::-webkit-scrollbar-thumb{
    background-color: #f9d039;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover{
    -webkit-box-shadow:0 0 6px black inset;
}
body{
    background: #161616 url(../images/bg-body.png) repeat;
}
body, html{
    width: 100%;
    min-height: 100%;
}
img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}
a{
    display: block;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.link-padding{
    position: relative;
    overflow: hidden;
    height: 0;
}
.clear{
    clear: both;
}
.animate{
-webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.content-center{
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
}
/*End of Reset Css*/

#container{
    padding: 15px 0 100px 0;
}

/*Header*/
#header{
    margin-bottom: 25px;
}
#header a.logo{
    margin-left: 62px;
}

/*Left*/
.left{
    float: left;
    text-align: center;
    width: 28.5%;
}
.left img{
    display: inline;
    margin-bottom: 13px;
}
.left span{
    font-size: 28px;
    letter-spacing: -1px;
    color: #fcc529;
    font-weight: bold;
}

/*Right*/
.right{
    float: right;
    width: 66.5%;
    position: relative;
}
.right h1{
    font-size: 45px;
    margin-bottom: 28px;
}
.right h1 strong{
    display: block;
    font-size: 67px;
    font-family: inherit;
    color: #fbb813;
}

/*Footer*/
#footer{
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    padding: 10px 0;
}
#footer small{
    font-size: 11px;
    background: url(../images/smart-fit-footer.png) no-repeat;
    height: 18px;
    padding: 5px 0 0 70px;
    display: table;
    margin: 0 auto;
}