@media screen and (max-width:1000px){
    #header .logged-user{
        width: 250px;
    }
    .main-content{
        width: 60%;
    }
    #header .main-content h2, #header .main-content img.adesao{
        float: none;
        margin: 15px auto;
        display: table;
    }
    .steps{
        
    }
    #header{
        margin-bottom: 75px;
    }
    .steps{
        bottom: -77px;
        top: inherit;
    }
    .numbers{
        margin-right: 0;
    }
}
@media screen and (max-width:960px){
    .steps{
        margin-right: -145px;
    }
    .steps .steps-content .step{
        margin-left: 10px;
    }
    .numbers div{
        padding-top: 10px;
        height: auto;
    }
    .numbers div h3{
        font-size: 17px;
    }
    .numbers div span{
        font-size: 58px;
    }
    
    .another-friends .the-friends{
        width: auto;
    }
    .another-friends .left-content{
        padding-right: 40px;
    }
    .another-friends .right-content{
        padding-left: 40px;
    }
    .another-friends .left-content h2{
        font-size: 21px;
        margin-left: 0;
    }
    .another-friends .left-content .the-friends{
        padding: 0 10px;
    }
    .another-friends .right-content {
        padding: 37px 0 0 15px;
    }
    .another-friends .right-content h2{
        margin-bottom: 2px;
    }
    .another-friends .right-content h3{
        font-size: 13px;
        margin-bottom: 22px;
    }
}
@media screen and (max-width:767px){
    #header{
        padding-top: 90px;
        margin-bottom: 0;
    }
    .main-content{
        float: none;
        width: auto;
    }
    #header .main-content .main-txt{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .steps{
        display: none;
    }
    .numbers{
        float: none;
        width: auto;
    }
    #header .main-content img.adesao{
        display: none;
    }
    #header .numbers{
        margin: 15px auto;
    }
    
    /*Numbers*/
    .numbers{
        max-width: none;
    }
    .numbers div{
        width: 50%;
        float: left;
        padding-top: 10px;
        margin-bottom: 15px;
    }
    .numbers .mensalidades{
        background: url(../images/convide/mobile-bg-mensalidades-free.png) no-repeat;
    }
    .numbers div h3{
        font-size: 17px;
        margin-bottom: 6px;
    }
    .numbers .amigos h3{
        text-indent: -10px;
    }
    .numbers .mensalidades h3{
        text-indent: -5px;
    }
    .numbers small{
        text-align: center;
        font-size: 14px;
        margin: 0 auto 15px auto;
        display: table;
        width: 100%;
    }
    
    /*Invite*/
    .content-center2, .the-friends{
        padding: 20px 0 !important;
    }
    .invite, .another-friends .left-content, .another-friends .right-content{
        background: #0c0c0c;
    }
    .invite h2, .another-friends .left-content h2, .another-friends .right-content h2{
        margin: 0 -15px;
        padding: 15px 0;
        text-align: center;
        font-size: 20px;
        background: #fcc516;
        background: -moz-linear-gradient(top,  #fcc516 0%, #faac10 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcc516), color-stop(100%,#faac10));
        background: -webkit-linear-gradient(top,  #fcc516 0%,#faac10 100%);
        background: -o-linear-gradient(top,  #fcc516 0%,#faac10 100%);
        background: -ms-linear-gradient(top,  #fcc516 0%,#faac10 100%);
        background: linear-gradient(to bottom,  #fcc516 0%,#faac10 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc516', endColorstr='#faac10',GradientType=0 );
    }
    .item{
        width: 20% !important;
        margin: 0 2.5% 15px 2.5%;
    }
    /*The others*/
    .another-friends{
        padding: 20px 15px;
    }
    .another-friends .left-content, .another-friends .right-content{
        float: none;
        width: 100%;
        padding: 15px 0;
    }
    .another-friends .the-friends{
        float: none !important;
    }
    .another-friends .left-content h2, .another-friends .right-content h2{
        margin: 0 -15px !important;
        width: 110%;
    }
    .another-friends .right-content h3{
        display: none;
    }
    
    /*Footer*/
    #footer{
        text-align: center;
    }
}
@media screen and (max-width:480px){
    #header .main-content h2{
        font-size: 15px;
        margin-bottom: 0;
    }
    #header .main-content h2 strong{
        font-size: 30px;
    }
    #header .main-content span.obs{
        font-size: 10px;
    }
    .numbers div{
        padding-top: 5px;
    }
    .numbers div h3{
        font-size: 12px;
        margin-bottom: 0;
    }
    .numbers div span{
        font-size: 45px;
        margin-bottom: 5px;
    }
    
}