/*Smaller than 960px*/
@media screen and (max-width: 960px){
    .right h1{
        font-size: 35px;
    }
    .discount .right-column h2{
        font-size: 21px;
    }
    .discount .right-column h2 strong{
        font-size: 40px;
    }
    .discount .right-column p{
        font-size: 19px;
    }
    .discount .right-column label{
        font-size: 12.5px !important;
        margin-bottom: 5px;
    }
    .discount .right-column select, .discount .right-column input{
        font-size: 14px;
    }
    .discount .right-column button{
        font: normal 20px 'avenirheavy', Arial, sans-serif;
    }
}

@media screen and (max-width: 767px){
    .topo .logo, .topo .right, .discount .left-column, .discount .right-column{
        float: none;
        width: 100%;
    }
    .topo .logo{
        text-align: center;
        margin-bottom: 15px;
    }
    .topo .logo img{
        display: inline;
    }
    .topo .right br{
        display: none;
    }
    .topo .right h1{
        font-size: 32px;
        line-height: 1.2em;
        margin-bottom: 25px;
    }
    .discount .field{
        float: none !important;
        width: 100% !important;
    }
    .discount .right-column select{
        font: normal 16px/1em 'avenirmedium', Arial, sans-serif;
    }
    .azul .item{
        float: none;
        width: 100%;
    }
    .azul .item br{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .discount .blank-arrow{
        border-top: 17px solid #0f2a52;
    }
    .topo .right p{
        display: none;
    }
    .main{
        padding: 15px !important;
    }
    .topo .logo img{
        max-width: 40% !important;
    }
    .discount img{
        max-width: 30%;
    }
    .topo .right h1{
        font-size: 16px;
        margin-bottom: 5px !important;
    }
    .topo .right h2{
        font-size: 15px !important;
        margin-bottom: 0 !important;
    }
    .topo .right p{
        font-size: 16px !important;
    }
    .discount .right-column h2{
        font-size: 17px;
        line-height: 1.2em;
        margin-bottom: 5px;
        text-transform: none;
        font-family: 'avenirmedium' !important;
    }
    .discount .right-column p{
        text-transform: none;
    }
    .discount .right-column strong{
        font-size: inherit !important;
        display: inline !important;
    }
    .discount .right-column p{
        font-size: 14px !important;
        line-height: 1.2em !important;
    }
    .discount .right-column label{
        font-size: 18px !important;
    }
    .discount .right-column select{
        padding: 6px 0 0 10px !important;
    }
    .discount .right-column button{
        padding: 22px 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    .discount .right-column{
        padding-top: 25px;
    }
    .vendedor-mobile{
        display: block;
        padding: 15px;
        text-align: left;
    }
    .vendedor-mobile p{
        font-size: 13px;
        color: #003768;
    }
    .azul{
        display: none;
    }
    .azul.mobile{
        display: block !important;
    }
    .congrats{
        display: block !important;
        margin-bottom: 30px;
    }
}