body {
    background: #003768;
    padding-bottom: 125px;
}
* {
    -webkit-font-smoothing: antialiased;
}
label {
    color: #899ebf;
    font-size: 16px;
    display: block;
    padding: 5px 0;
}
.main {
    padding-bottom: 125px;
    float: left;
    width: 100%;
}
.container {
    width: 940px;
    padding: 0 15px;
    margin: 0 auto;
}
.row {
    width: 100%;
    float: left;
    clear: both;
}
.clear {
    width: 100%;
    clear: both;
    float: left;
}
.transparente {
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;*/
}
.sep {
    width: 100%;
    float: left;
    background: #fff;
    height: 1px;
    clear: both;
    margin: 60px 0;
}
.titulo {
    font-size: 22px;
    color: #FFF;
}
.titulo span {
    font-size: inherit;
    color: #899ebf;
    padding-right: 15px;
}
.subtitulo {
    font-size: 20px;
    font-weight: bold;
    color: #899ebf;
    line-height: 38px;
}
.dados {
    padding: 60px 0 0 0;
}
.dados .titulo {
    margin-bottom: 15px;
}
.dados p.input {
    float: left;
    margin-right: 30px;
}
.dados p.last {
    margin: 0;
    width: 195px;
    position: relative;
}
.dados p.input input {
    border: none;
    background: #FFF;
    font-size: 22px;
    padding: 17px 10px;
    width: 195px;
}
.dados p.input input#telefone {
    width: 160px;
}
.dados p.input .customSelectTopo {
    background: url("../images/bg-select-top.jpg") no-repeat;
    width: 188px;
    height: 19px;
    padding: 22px 20px 20px;
    font-size: 16px;
    color: #003768;
    cursor: pointer;
    float: left;
    border: none;
    left: 0;
}
.dados p.input .customSelectTopo option {
    background: #FFF;
}
.customSelectTopoInner {
    width: 100% !important;
}
.confirmar {
    float: right;
    width: 290px;
    margin: 20px 11px 0 0;
}
.confirmar label {
    color: #ffffff;
    float: left;
    line-height: 36px;
    margin-left: 10px;
}
.confirmar a {
    float: left;
    width: 138px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    color: #003768;
    border: 2px solid #899ebf;
    background: #d5dde8;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
.erro {
    display: none;
    float: left;
    margin-top: 25px;
    line-height: 36px;
    color: #ffffff;
    width: 300px;
}
.pergunta {
    margin: 60px 0 0 0;
    float: left;
    width: 100%;
}
.pergunta .titulo {
    margin-bottom: 25px;
}
.quiz2 .respostas {
    font-size: 16px;
}
.respostas {
    font-size: 26px;
    color: #003768;
}
.respostas div {
    border: 2px solid #899ebf;
    background: #e8ecf2;
    width: 320px;
    text-align: center;
    padding: 17px 0;
    float: left;
    margin: 0 15px 15px 0;
    position: relative;
    cursor: pointer;
}
.transparente .respostas div {
    cursor: default;
}
.respostas.full div {
    width: 846px;
    text-align: left;
    padding: 17px 0 17px 70px;
}
.respostas span {
    background: url("../images/bg-alternativa.png") no-repeat;
    width: 27px;
    height: 27px;
    display: block;
    line-height: 27px;
    font-size: 16px;
    color: #FFF;
    font-family: Arial;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -14px;
    text-align: center;
}
.respostas .selecionada {
    background: #96b6d2;
    border-color: #002555;
}
.resultado {
    display: none;
    margin-top: 60px;
    width: 100%;
    background: #FFF;
    float: left;
    padding: 45px 0 45px;
}
.resultado .left {
    width: 435px;
    float: left;
    padding-bottom: 30px;
}
.resultado .right {
    width: 400px;
    float: right;
    border: 1px solid #003768;
    padding: 50px 10px 50px 60px;
}
.resultado .pontuacao {
    color: #003768;
    font-size: 36px;
}
.resultado .faca span,
.resultado .pontuacao span.acertou {
    font-size: 16px;
    color: #a8b8d0;
    font-weight: bold;
    display: block;
}
.resultado .info {
    color: #003768;
    font-size: 14px;
    display: none;
}
.resultado .faca {
    font-size: 26px;
    color: #003768;
}
.resultado .faca span {
    margin: 10px 0;
}
.endereco {
    display: none;
    font-size: 14px;
    color: #003768;
    padding: 15px 0;
}
a.mapa {
    color: #003768;
    text-decoration: none;
    font-weight: bold;
    background: url("../images/bullet.png") left center no-repeat;
    padding: 5px 0 5px 28px;
    display: block;
    margin: 14px 0 0;
}
a.mapa:hover {
    text-decoration: underline;
}
.horario {
    display: none;
}
.customSelect {
    width: 307px;
    height: 19px;
    padding: 22px 20px 20px;
    background: url("../images/bg-select.png");
    font-size: 16px;
    color: #003768;
    cursor: pointer;
}
.customSelectInner {
    width: 100% !important;
}
.selectHorario {
    background: url("../images/bg-select-small.png");
    width: 119px;
    height: 19px;
    padding: 22px 20px 20px;
    font-size: 16px;
    color: #003768;
    cursor: pointer;
    float: left;
    border: none;
}
#horario {
    left: 0;
}
#datepicker {
    background: url("../images/bg-select-small.png");
    width: 119px;
    height: 19px;
    padding: 22px 20px 20px;
    border: none;
    float: left;
}
.ui-datepicker {
    z-index: 100 !important;
    font-size: 12px !important;
}
#loading1 {
    float: right;
    margin: 30px 22px 0 0;
    display: none;
}
#loading2 {
    width: 347px;
    height: 32px;
    padding: 18px 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.botao {
    position: relative;
    width: 349px;
    height: 64px;
    margin-top: 10px;
    float: left;
}
button.agendar {
    color: #FFF;
    background: #003768;
    border: 2px solid #899ebf;
    width: 347px;
    font-weight: bold;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}
.espaco {
    width: 100%;
    float: left;
}
.finalizar {
    margin-top: 50px;
    width: 100%;
    float: left;
    display: none;
}
.finalizar .holder {
    width: 192px;
    height: 46px;
    margin: 0 auto;
    position: relative;
}
.finalizar a {
    width: 188px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    color: #003768;
    border: 2px solid #899ebf;
    background: #d5dde8;
    text-decoration: none;
    display: block;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}
.finalizar img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    z-index: 10;
    display: none;
}
.horario-holder {
    width: 159px;
    height: 61px;
    position: relative;
    float: left;
    margin-left: 28px;
}
.footer {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    background: #003768;
    overflow: hidden;
    z-index: 100;
}
.footer .contador {
    color: #FFF;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 42px 0 10px;
}
.footer ul {
    display: block;
}
.footer li {
    width: 50px;
    border: 2px solid #FFF;
    height: 40px;
    float: left;
    list-style: none;
    display: block;
    margin-left: 1px;
    cursor: pointer;
}
.footer li.ativo {
    background: #275885;
}
.footer .setas {
    width: 120px;
    position: absolute;
    right: 3%;
    top: 30px;
}
.footer .logo {
    position: absolute;
    left: 3%;
    top: 14px;
}
.footer .setas .up {
    display: block;
    float: left;
    width: 51px;
    height: 51px;
    background: url("../images/setas.png") top right no-repeat;
}
.footer .setas .down {
    display: block;
    float: right;
    width: 51px;
    height: 51px;
    background: url("../images/setas.png") top left no-repeat;
}

/*************Thank you | Discount**************/
.clear{
    clear: both;
    float: none;
}
.content-center{
    max-width: 940px;
    padding: 0 15px;
    margin: 0 auto;
}
.thankyou, .discount{
    padding: 40px 0;
}
.thankyou{
    background: #FFF;
    position: relative;
}
.thankyou .blue-arrow{
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 17px solid #003768;
    position: absolute;
    left: 30%;
    top: 0;
}
.thankyou h2{
    color: #003768;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
    font-family: 'avenirblack';
    font-weight: normal;
}
.thankyou p{
    color: #003768;
    font-size: 16px;
    font-family: 'avenirroman';
    line-height: 1.3em;
}
.discount{
    background: #f1493d;
}
.discount *{
    color: white;
}
.discount .img{
    text-align: center;
}
.discount .img img{
    display: inline;
}
.discount .left{
    float: left;
    width: 45%;
}
.discount .left h2{
    font-size: 70px;
    font-family: 'avenirblack';
    font-weight: normal;
    text-transform: uppercase;
    line-height: 47px;
    margin: 20px 0;
}
.discount .left h2 span.item1{
    font-size: 34px;
}
.discount .left h2 span.item2{
    font-size: 51px;
}
.discount .left p{
    font-size: 21px;
    font-family: 'avenirmedium';
    font-weight: normal;
    text-transform: uppercase;
}
.discount .right{
    float: right;
    width: 45%;
}
.discount .right h3{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: normal;
    font-family: 'avenirblack';
    line-height: 1.2em;
    margin-bottom: 33px;
}
.discount .right h3 strong{
    display: block;
    font-family: 'avenirmedium';
    font-weight: normal;
}
.discount .right .select{
    background: #FFF url(../images/select-internal.png) no-repeat right center;
    width: 100%;
    height: 56px;
    border: solid 1px #899ebf;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.discount .right .select select{
    height: 56px;
    background: transparent;
    border: none;
    width: 120%;
    color: #003768;
    text-transform: uppercase;
    font-family: 'avenirheavy';
    font-size: 16px;
    cursor: pointer;
}
.discount .right address{
    font-style: normal;
    text-transform: uppercase;
    font-family: 'avenirmedium';
    font-size: 14px;
}
.discount .right address span{
    font-family: 'avenirheavy';
}
.discount .right address a{
    text-decoration: none;
    display: block;
}
.discount .right a.map{
    text-decoration: none;
    font-family: 'avenirblack';
    text-transform: uppercase;
    background: url(../images/ver-mapa.png) no-repeat left center;
    padding: 33px 0 33px 25px;
    display: block;
}
.discount .right .data-periodo .select{
    width: 47%;
}
.discount .right .data-periodo .select.left{
    float: left;
}
.discount .right .data-periodo .select.right{
    float: right;
}