@charset "utf-8";

/*The Posts*/
ul.the-posts .col-md-6{
    padding: 0;
}
ul.the-posts li, .lastests-posts li{
    clear: both;
    margin-bottom: 28px;
    display: block;
}
ul.the-posts li a, .lastests-posts li a{
    background: #FFF;
    box-shadow: inset #d5d5d5 0px 0px 80px;
    position: relative;
}
ul.the-posts li *, .lastests-posts li *{
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    -moz-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    -o-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
ul.the-posts li a:hover, .lastests-posts li a:hover{
    background: #0084a9;
    box-shadow: inset #333 0px 0px 80px;
}
ul.the-posts li a:hover *, .lastests-posts li a:hover *{
    color: white;
}
ul.the-posts li a:hover img, .lastests-posts li a:hover img{
    opacity: 0.7;
}
ul.the-posts article{
    padding: 43px !important;
}
.lastests-posts article{
    padding: 20px 20px 35px 20px !important;
}
.lastests-posts article blockquote{
    margin-bottom: 0;
}
ul.the-posts article time, .lastests-posts article time{
    text-align: right;
    display: block;
    font: normal 12px 'Montserrat', sans-serif;
    color: #828282;
}
ul.the-posts article h1, .lastests-posts article h1{
    font: bold 18px/1.3em 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
ul li.empresa h1{
    color: #003767;
}
ul li.carreira h1{
    color: #ef4135;
}
ul li.estudo h1{
    color: #318ca1;
}
ul li.business h1{
    color: #0084a9;
}
ul li.turismo h1{
    color: #ce8667;
}

ul.the-posts article blockquote, .lastests-posts article blockquote{
    font: normal 14px/1.3em 'Montserrat', sans-serif !important;
    color: #343434;
    border: none;
    padding: 0;
}
span.post-category{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    background-image: url(../images/posts/categories.png);
}
#lastests-posts span.post-category{
    bottom: 225px;
    top: initial;
}
#lastests-posts a:hover{
    text-decoration: none;
}
ul li.carreira span.post-category{
    background-position: 0 -61px;
}
ul li.estudo span.post-category{
    background-position: 0 -121px;
}
ul li.business span.post-category{
    background-position: 0 -181px;
}
ul li.turismo span.post-category{
    background-position: 0 -241px;
}
a.load-more{
    color: #535353;
    font: bold 18px 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: table;
    margin: 0 auto;
    padding: 32px 0;
    width: 320px;
    border-radius: 30px;
    box-shadow: #999 -1px 0 15px;
    text-align: center;
    padding-left: 55px;
    background: #fbfbfb url(../images/posts/carregar-mais.png) no-repeat 20px center;
    background: url(../images/posts/carregar-mais.png) no-repeat 20px center, -moz-linear-gradient(top,  #fbfbfb 0%, #e4e4e4 100%);
    background: url(../images/posts/carregar-mais.png) no-repeat 20px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e4e4e4));
    background: url(../images/posts/carregar-mais.png) no-repeat 20px center, -webkit-linear-gradient(top,  #fbfbfb 0%,#e4e4e4 100%);
    background: url(../images/posts/carregar-mais.png) no-repeat 20px center, -o-linear-gradient(top,  #fbfbfb 0%,#e4e4e4 100%);
    background: url(../images/posts/carregar-mais.png) no-repeat 20px center, -ms-linear-gradient(top,  #fbfbfb 0%,#e4e4e4 100%);
    background: url(../images/posts/carregar-mais.png) no-repeat 20px center, linear-gradient(to bottom,  #fbfbfb 0%,#e4e4e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e4e4e4',GradientType=0 );
}

@media all and (max-width:1200px){
    #lastests-posts span.post-category{
        bottom: 177px;
    }
}