@charset "utf-8";

/*The Posts*/
ul.the-posts .col-md-6{
    padding: 0;
}
ul.the-posts li, .lastests-posts li{
    clear: both;
    margin-bottom: 28px;
    display: block;
}
ul.the-posts li a, .lastests-posts li a{
    background: #FFF;
    box-shadow: inset #d5d5d5 0px 0px 80px;
    position: relative;
}
ul.the-posts article, .lastests-posts article{
    padding: 43px !important;
}
ul.the-posts article time, .lastests-posts article time{
    text-align: right;
    display: block;
    font: normal 12px 'Montserrat', sans-serif;
    color: #828282;
}
ul.the-posts article h1, .lastests-posts article h1{
    font: bold 18px/1.3em 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
ul li.empresa h1{
    color: #003767;
}
ul li.carreira h1{
    color: #ef4135;
}
ul li.estudo h1{
    color: #318ca1;
}
ul li.business h1{
    color: #0084a9;
}
ul li.turismo h1{
    color: #ce8667;
}

ul.the-posts article blockquote, .lastests-posts article blockquote{
    font: normal 14px/1.3em 'Montserrat', sans-serif !important;
    color: #343434;
    border: none;
    padding: 0;
}
span.post-category{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    width: 59px;
    height: 59px;
    margin-left: -30px;
    margin-top: -30px;
    background-image: url(../images/posts/categories.png);
}
ul li.carreira span.post-category{
    background-position: 0 -61px;
}
ul li.estudo span.post-category{
    background-position: 0 -121px;
}
ul li.business span.post-category{
    background-position: 0 -181px;
}
ul li.turismo span.post-category{
    background-position: 0 -241px;
}